.activity-list li:nth-child(odd).media{
    @apply bg-[#f0f4f7];
}

.media{
    @apply  rounded-lg mb-3 font-[Poppins] bg-[#C2DBEC];;

    img{
        @apply rounded-full drop-shadow-md;
    }
}

.activity-content {
    /* height: 60vh; */
    overflow-y: auto;
}

.activity-content::-webkit-scrollbar {
    width: 4px;
}

.activity-main-div {
    position: relative;
}

.show-player-div {
    padding: 0px;
    display: none;
    margin: 0px auto;
    width: 100%;
    border-radius: 0.5rem;
    background: #d9caff !important;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

.show_player .show-player-div {
    display: flex;
}

.hide {
    display: none;
}

.show-player-div {
    background: #ffffff !important;
    align-items: center;
    justify-content: space-around;
}

.flex-gap-10 {
    gap: 10px;
}

::ng-deep .plyr--audio .plyr__controls {
    padding: 2px !important;
}

.close-plyr a.btn-danger {
    margin-top: 0 !important;
}

.play-btn-con a.index-play {
    padding: 8px 10px;
}
