<div class="section-loder flex-center" *ngIf="activities.length == 0 && ajaxLoader">
    <ion-spinner></ion-spinner>
</div>
<ng-container *ngIf="activities.length>0">
  <ul class="list-unstyled mb-0 activity-list">
    <li class="media" *ngFor="let activity of activities  index as activity_index">

      <div class="media-body mt-2">
        <div class="flex justify-between p-3" id="activity-div" [class]="'activity-main-div table_row_'+activity_index">
          <div class="float-lg-start">
            <img class="mb-2" width="30px" src="{{ activity.profile?activity.profile:placeholderAvatar }}"
              alt="Generic placeholder image">
            <a [routerLink]="['/edit-members/', activity.causer_id]">
              <h6 class="mt-0 mb-2 text-sm font-semibold">{{ activity.first_name }} {{ activity.last_name }}</h6>
            </a>
            <p class="mb-0 text-xs"
              [innerHTML]="activity.message ? activity.message : (activity.log_name | stringReplace:'_':' ' | titlecase)+' '+(activity.event | titlecase)">
            </p>

          </div>
          <div class="float-lg-right text-end">
            <span
              class="badge {{ activity.event=='updated'?'badge-warning':activity.event=='deleted'?'badge-danger':'badge-success' }}  mb-2">{{
              activity.event }}</span>
            <div class="text-xs mt-2 font-medium">{{ dateToFromNowDaily(activity.created_at) }}</div>
          </div>
        </div>
        <div class="bottom text-sm p-3 pt-4">

            <p class="mb-1 text-lowercase"
              *ngIf="activity.causer_type=='App\\Models\\User' &&  activity?.properties?.attributes?.description!=null">
              {{ activity?.properties?.attributes?.description }}
            </p>
            <span class="mb-1 d-block"
              *ngIf="activity.subject_type=='App\\Models\\Project' &&  activity?.properties?.attributes?.title!=null">Project:
              {{ activity?.properties?.attributes?.title }}</span>
            <span class="mb-1 d-block" *ngIf="activity.project">Project: {{ activity.project?.title }}</span>
            <span class="mb-1 d-block" *ngIf="activity.sms">From Number: {{ activity.sms?.from_number }}</span>
            <span class="mb-1 d-block" *ngIf="activity.sms">Message: {{ activity.sms?.description }}</span>
            <span class="mb-1 d-block" *ngIf="activity.subject_type=='App\\Models\\MmsTracking'">
              <ng-container *ngIf="activity?.properties?.attributes?.media_type == 'audio'; else videoMms">
                <audio controls>
                  <source type="audio/webm" [src]="activity?.properties?.attributes?.media_url" />
                  Your browser does not support the audio format.
                </audio>
              </ng-container>
              <ng-template #videoMms>
                <video width="320" height="240" controls>
                  <source type="video/webm" [src]="activity?.properties?.attributes?.media_url">
                  Your browser does not support the video tag.
                </video>
              </ng-template>
            </span>
            <ng-container *ngIf="activity.log_name == 'lead_call_logs'">
              <div class="row mt-3">
                <div class="col-md-6">
                  <p class="mb-0"><strong>Lead Id:</strong>
                    <a [routerLink]="['/data-edit']" [queryParams]="{'id': activity?.properties?.attributes?.lead_id}">
                      <u>#{{ activity?.properties?.attributes?.lead_id }}</u></a>
                  </p>
                  <p class="mb-0"><strong>To number:</strong> {{ activity?.properties?.attributes?.to }}</p>
                </div>
                <div class="col-md-6">
                  <p class="mb-0"><strong>Call Status:</strong> {{ activity?.properties?.attributes?.call_status |
                    titlecase }}</p>
                  <p class="mb-0"><strong>Call Duration:</strong> {{ activity?.properties?.attributes?.call_duration }}
                  </p>
                </div>
              </div>
              <div class="d-flex flex-gap-10 align-items-center mt-3 play-btn-con">
                <div class="d-flex player-cls" ngbTooltip="Play Call Recording" href="javascript:void(0)"
                  data-toggle="tooltip"
                  *ngIf="activity?.properties?.attributes?.in_recording_deleted == 0 && activity?.properties?.attributes?.recording_url">
                  <a class="btn btn-primary index-play"
                    (click)="playaudio(activity?.properties?.attributes?.recording_url, $event)" data-url=""><ion-icon
                      name="play"></ion-icon></a>
                </div>
                <div class="d-flex player-cls" ngbTooltip="Recording not available" href="javascript:void(0)"
                  data-toggle="tooltip"
                  *ngIf="activity?.properties?.attributes?.in_recording_deleted == 1 || !activity?.properties?.attributes?.recording_url">
                  <a class="btn btn-primary index-play disabled" data-url="" title="Play"><ion-icon
                      name="play"></ion-icon></a>
                </div>

                <div class="show-player-div">
                  <div class="loading">Loading....</div>
                  <div class="close-plyr hide"><a (click)="hidePlayer($event)"
                      class="btn btn-default btn-danger me-1"><ion-icon name="close"></ion-icon></a></div>
                </div>
              </div>

            </ng-container>
            <ng-container *ngIf="activity.event=='updated'">
              <ng-container *ngFor="let attribute of activity['properties']['attributes']; index as i">
                <ng-container *ngFor="let mainAttribute of attribute | keyvalue">
                  <ng-container *ngFor="let oldItem of activity['properties']['old'][i] | keyvalue">
                    <ng-container
                      *ngIf="oldItem.value!=null && oldItem.value!=mainAttribute.value && mainAttribute.key!='updated_at' && mainAttribute.key!='key' && mainAttribute.key!='password' && (mainAttribute.key!='status' && activity.subject_type!='App\\Models\\Attendance')">
                      <div
                        *ngIf="humanizeString(mainAttribute.key) != 'Json Body' && humanizeString(mainAttribute.key) != 'Html Body' && humanizeString(mainAttribute.key) != 'Followup' && humanizeString(mainAttribute.key) != 'Form Data Json' && humanizeString(mainAttribute.key) != 'Field Ids'  "
                        class="mb-2">{{ humanizeString(mainAttribute.key) }}:
                        <ng-container *ngIf="mainAttribute.key=='collaborators'">
                          <ng-container *ngIf="getRemovedCollaborators(oldItem.value, mainAttribute.value).length>0">
                            <ul
                              *ngFor="let removedCollaborator of getRemovedCollaborators(oldItem.value, mainAttribute.value)">
                              <li>{{ tokenStorage.getTeamUserNameFromId(removedCollaborator) }} is removed from
                                {{activity.message}}</li>
                            </ul>
                          </ng-container>
                          <ng-container *ngIf="getAddedCollaborators(oldItem.value, mainAttribute.value).length>0">
                            <ul
                              *ngFor="let addedCollaborator of getAddedCollaborators(oldItem.value, mainAttribute.value)">
                              <li>{{ tokenStorage.getTeamUserNameFromId(addedCollaborator) }} is added to
                                {{activity.message}}</li>
                            </ul>
                          </ng-container>
                        </ng-container>
                        <ng-container *ngIf="mainAttribute.key=='lead_position_id'">
                          <del>{{tokenStorage.getLeadPositionNameFromId(oldItem.value)}}</del>
                          <ins>{{tokenStorage.getLeadPositionNameFromId(mainAttribute.value)}}</ins>
                        </ng-container>
                        <ng-container
                          *ngIf="!(mainAttribute.key=='collaborators' || mainAttribute.key=='lead_position_id')">
                          <del>{{oldItem.value}}</del>
                          <ins>{{mainAttribute.value}}</ins>
                        </ng-container>
                      </div>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>
        </div>
      </div>
    </li>
  </ul>
  <p *ngIf="activities.length == 0" class="justify-content-center">No activities yet</p>
  <div class="d-flex justify-content-end border-top-1 pt-3">
    <ion-button *ngIf="totalPage > page && activities.length>0" (click)="loadMoreWithoutParams(page)" type="button"
      color="primary" [disabled]="ajaxLoader">Load More <ion-spinner name="crescent"
        *ngIf="ajaxLoader"></ion-spinner></ion-button>
  </div>
</ng-container>
<ng-container *ngIf="activities.length == 0 && !ajaxLoader">
   <div class="text-center"><span> No activities yet</span> </div>
</ng-container>

