<app-header></app-header>

<ion-content [fullscreen]="true">
      <!-- <app-time-card></app-time-card> -->
      <app-lead-statistics></app-lead-statistics>
      <app-revenue-statistics></app-revenue-statistics>
      <app-conversion-ratio></app-conversion-ratio>
      <app-time-card></app-time-card>
      <ion-button (click)="registerNotifications()">Register</ion-button>
      <ion-button (click)="getDeliveredNotifications()">Register</ion-button>
      <ion-button (click)="showLocalNotification()">Show a Notification</ion-button>
</ion-content>