
.cust-card{
    @apply mb-5 shadow-none #{!important};

    .contact-box {
      @apply bg-white rounded-lg border border-gray-100  #{!important};

      .contact-items{
        @apply flex gap-2 text-sm font-normal font-['Poppins'] leading-tight;
      }
    }
  }

  ::ng-deep .contact-box{
    @apply p-4 rounded-lg bg-[#f0f4f7] #{!important};
  }
  ::ng-deep .cust-card{
    @apply mx-0;
  }
  ::ng-deep .cust-btn{
    margin: auto !important;
    display: flex;
    width: fit-content;
  }
