<div class="section-loder flex-center" *ngIf="!leadCompanies && ajaxLoader">
  <ion-spinner></ion-spinner>
</div>

<ng-container *ngIf="leadCompanies">
  <!-- <ion-toolbar>
    <ion-button size="small" (click)="open(true)" slot="end" color="tertiary">
      <ion-icon slot="icon-only" ios="logo-apple" name="add"></ion-icon>
    </ion-button>

  </ion-toolbar> -->


  <ion-card class="cust-card mt-0" color="light" *ngFor="let company of leadCompanies">

    <ion-card-content class="contact-box ">
      <div class="mb-2" *ngIf="company.company_name"><ion-icon name="podium"></ion-icon> {{ company.company_name }}</div>
      <div class="flex justify-between">
        <div class="flex flex-col gap-2 max-w-[85%]">
          <div class="contact-items flex-col">
            <div *ngIf="company.company_service"> {{ company.company_service }}</div>
          <div>
            <span *ngIf="company.street_address">{{ company.street_address }}</span>
            <span *ngIf="company.street_address2">{{ company.street_address2 }}</span>
            <span *ngIf="company.phone_number">{{ company.phone_number }}</span>
            <span *ngIf="company.city">{{ company.city }}</span>
            <span *ngIf="company.state">{{ company.state }}</span>
            <span *ngIf="company.postcode">{{ company.postcode }}</span>
          </div>
          </div>
        </div>

        <div class="grid">
          <ion-button size="" color="" class="cta-space-element cta-edit-element m-0"  tooltip="Edit Company" flow="left" (click)="open(true,company.id)">
            <span class="pencil mt-1">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_1_264)">
                <rect x="4" width="24" height="24" rx="5" fill="#007BFF"/>
                </g>
                <path d="M16.4 8.19449L19.77 11.5345L14.26 17.0045L10 17.9845L10.9 13.6645L16.4 8.19449Z" fill="white"/>
                <path d="M21.74 9.54449L20.74 10.6145L17.37 7.27448L18.45 6.19452C18.5865 6.06943 18.7649 6 18.95 6C19.1351 6 19.3135 6.06943 19.45 6.19452L21.79 8.52448C21.8552 8.59397 21.9058 8.67588 21.9387 8.76532C21.9715 8.85476 21.9861 8.94992 21.9814 9.0451C21.9767 9.14029 21.953 9.23354 21.9115 9.31934C21.87 9.40513 21.8117 9.48172 21.74 9.54449Z" fill="white"/>
                <defs>
                <filter id="filter0_d_1_264" x="0" y="0" width="32" height="32" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0.482353 0 0 0 0 1 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_264"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1_264" result="shape"/>
                </filter>
                </defs>
                </svg>
            </span>
          </ion-button>
          <ion-button size="" color="" class="cta-space-element cta-edit-element m-0"  tooltip="Delete Company" flow="left" (click)="deleteCompany(company.id)">
            <span class="trash-sharp ">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_1_256)">
                <rect x="4" width="24" height="24" rx="5" fill="#DC3545"/>
                </g>
                <path d="M18.4864 6.65578L17.8603 6H14.1488L13.5227 6.65578H11V7.97587H21V6.65578H18.4864Z" fill="white"/>
                <path d="M11.7441 8.59758H20.2559V16.7566C20.2559 17.0863 20.1163 17.4026 19.8679 17.6358C19.6194 17.869 19.2824 18 18.931 18H13.069C12.7176 18 12.3806 17.869 12.1322 17.6358C11.8837 17.4026 11.7441 17.0863 11.7441 16.7566V8.59758Z" fill="white"/>
                <defs>
                <filter id="filter0_d_1_256" x="0" y="0" width="32" height="32" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0.862745 0 0 0 0 0.207843 0 0 0 0 0.270588 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_256"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1_256" result="shape"/>
                </filter>
                </defs>
                </svg>
            </span>
          </ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-button tooltip="Add Company" flow="left" class="cta-space-element cta-edit-element !my-0 cust-btn" size="small" (click)="open(true)" slot="end" color="">
    <span class="add">
      <svg width="73" height="32" viewBox="0 0 73 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_d_168_74)">
        <rect x="4" width="65" height="24" rx="5" fill="#4B4DBC"/>
        </g>
        <path d="M19.928 14.296H16.436L15.836 16H14.408L17.396 7.648H18.98L21.968 16H20.528L19.928 14.296ZM19.544 13.18L18.188 9.304L16.82 13.18H19.544ZM22.8512 12.664C22.8512 12 22.9872 11.412 23.2592 10.9C23.5392 10.388 23.9152 9.992 24.3872 9.712C24.8672 9.424 25.3992 9.28 25.9832 9.28C26.4152 9.28 26.8392 9.376 27.2552 9.568C27.6792 9.752 28.0152 10 28.2632 10.312V7.12H29.6432V16H28.2632V15.004C28.0392 15.324 27.7272 15.588 27.3272 15.796C26.9352 16.004 26.4832 16.108 25.9712 16.108C25.3952 16.108 24.8672 15.964 24.3872 15.676C23.9152 15.38 23.5392 14.972 23.2592 14.452C22.9872 13.924 22.8512 13.328 22.8512 12.664ZM28.2632 12.688C28.2632 12.232 28.1672 11.836 27.9752 11.5C27.7912 11.164 27.5472 10.908 27.2432 10.732C26.9392 10.556 26.6112 10.468 26.2592 10.468C25.9072 10.468 25.5792 10.556 25.2752 10.732C24.9712 10.9 24.7232 11.152 24.5312 11.488C24.3472 11.816 24.2552 12.208 24.2552 12.664C24.2552 13.12 24.3472 13.52 24.5312 13.864C24.7232 14.208 24.9712 14.472 25.2752 14.656C25.5872 14.832 25.9152 14.92 26.2592 14.92C26.6112 14.92 26.9392 14.832 27.2432 14.656C27.5472 14.48 27.7912 14.224 27.9752 13.888C28.1672 13.544 28.2632 13.144 28.2632 12.688ZM31.024 12.664C31.024 12 31.16 11.412 31.432 10.9C31.712 10.388 32.088 9.992 32.56 9.712C33.04 9.424 33.572 9.28 34.156 9.28C34.588 9.28 35.012 9.376 35.428 9.568C35.852 9.752 36.188 10 36.436 10.312V7.12H37.816V16H36.436V15.004C36.212 15.324 35.9 15.588 35.5 15.796C35.108 16.004 34.656 16.108 34.144 16.108C33.568 16.108 33.04 15.964 32.56 15.676C32.088 15.38 31.712 14.972 31.432 14.452C31.16 13.924 31.024 13.328 31.024 12.664ZM36.436 12.688C36.436 12.232 36.34 11.836 36.148 11.5C35.964 11.164 35.72 10.908 35.416 10.732C35.112 10.556 34.784 10.468 34.432 10.468C34.08 10.468 33.752 10.556 33.448 10.732C33.144 10.9 32.896 11.152 32.704 11.488C32.52 11.816 32.428 12.208 32.428 12.664C32.428 13.12 32.52 13.52 32.704 13.864C32.896 14.208 33.144 14.472 33.448 14.656C33.76 14.832 34.088 14.92 34.432 14.92C34.784 14.92 35.112 14.832 35.416 14.656C35.72 14.48 35.964 14.224 36.148 13.888C36.34 13.544 36.436 13.144 36.436 12.688Z" fill="white"/>
        <path d="M49 12L59 12" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M54 7L54 17" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <defs>
        <filter id="filter0_d_168_74" x="0" y="0" width="73" height="32" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dy="4"/>
        <feGaussianBlur stdDeviation="2"/>
        <feComposite in2="hardAlpha" operator="out"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_168_74"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_168_74" result="shape"/>
        </filter>
        </defs>
        </svg>
    </span>
  </ion-button>

  <ion-modal #custModal>
    <ng-template>

      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel(false)"><ion-icon name="arrow-back"></ion-icon></ion-button>
          </ion-buttons>
          <ion-title class="ion-text-center">{{popupTitle}}</ion-title>
          <ion-buttons slot="end">
            <!-- <ion-button (click)="cancel(false)">Close</ion-button> -->
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form [formGroup]="leadCompanyEditForm" (ngSubmit)="updateALeadCompanyData(leadCompanyEditForm.value)">

          <div class="input-cover">
            <ion-input formControlName="company_name" label="Company Name*" label-placement="floating" fill="outline" placeholder="Company Name"></ion-input>
            <span class="text-danger" *ngIf="formSubmit && leadCompanyEditForm.controls['company_name']?.errors?.['required']">This field is required</span>
          </div>
          <ion-input formControlName="company_service" label="Company Service" label-placement="floating" fill="outline" placeholder="Company Service"></ion-input>
          <ion-input formControlName="company_website" label="Company Website" label-placement="floating" fill="outline" placeholder="Company Website" type="url"></ion-input>
          <ion-input formControlName="company_email" label="Company Email" label-placement="floating" fill="outline" placeholder="Company Email" type="email"></ion-input>
          <ion-input formControlName="phone_number" label="Phone Number" label-placement="floating" fill="outline" placeholder="Phone Number"></ion-input>
          <ion-input formControlName="street_address" label="Street Address" label-placement="floating" fill="outline" placeholder="Street Address"></ion-input>
          <ion-input formControlName="street_address2" label="Street Address2" label-placement="floating" fill="outline" placeholder="Street Address2"></ion-input>
          <ion-input formControlName="city" label="City/Town/District" label-placement="floating" fill="outline" placeholder="City/Town/District"></ion-input>
          <ion-input formControlName="state" label="State/County/Provices/Region" label-placement="floating" fill="outline" placeholder="State/County/Provices/Region"></ion-input>
          <ion-input formControlName="postcode" label="Postcode" label-placement="floating" fill="outline" placeholder="Postcode"></ion-input>
          <ion-input formControlName="number_of_employees" label="Number Of Employees" label-placement="floating" fill="outline" placeholder="Number Of Employees"></ion-input>
          <ion-input formControlName="annual_revenue" label="Annual Revenue" label-placement="floating" fill="outline" placeholder="Annual Revenue"></ion-input>
          <ion-select formControlName="time_zone" label="Time Zone" label-placement="floating" fill="outline">
            <ion-select-option *ngFor="let zone of timezone" [value]="zone">{{ zone }}</ion-select-option>
          </ion-select>
          <ion-input formControlName="annual_revenue" label="Year Founded" label-placement="floating" fill="outline" placeholder="Year Founded" type="number"></ion-input>

          <ion-button expand="block" type="submit" color="{{ ajaxCall?'primary':'tertiary' }}" [disabled]="ajaxCall">Save <ion-spinner name="crescent" *ngIf="ajaxCall"></ion-spinner></ion-button>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ng-container>
