<ion-card>
      <ion-row>
            <ion-col size="6" size-md="4" size-lg="2" class="">
                  <ng-container *ngIf="!isLogin">
                    <div class="media time-card">
                      <ion-icon name="time-outline" class="time-icon"></ion-icon>
                      <div class="media-body">
                        <ion-label>You are currently not working</ion-label>
                        <ion-button expand="block" color="primary" [disabled]="isClicked" (click)="stratStopWork()">Start</ion-button>
                      </div>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="isLogin">
                        <div class="media time-card">
                              <ion-icon name="time-outline" class="time-icon"></ion-icon>
                              <ion-label>Your office work started at : {{ dateToFromNowDaily(loginTime) }} <small ngbTooltip="Completed time at the office today" *ngIf="time_completed">({{ time_completed }})</small></ion-label>
                              <ion-button expand="block" color="danger" [disabled]="isClicked" (click)="stratStopWork()">Stop</ion-button>
                        </div>
                  </ng-container>
            </ion-col>
            <ion-col size="6" size-md="4" size-lg="2" class="">
                  <ion-card>
                        <ion-card-content>
                              <ion-badge>{{memberInOffice}}</ion-badge>
                              <p>MEMBERS IN OFFICE</p>
                        </ion-card-content>
                  </ion-card>

                  <ion-card>
                        <ion-card-content>
                              <ion-badge>{{memberNotInOffice}}</ion-badge>
                              <h6>MEMBERS NOT IN OFFICE</h6> 
                        </ion-card-content>
                  </ion-card>
            </ion-col>
      </ion-row>
</ion-card>