<app-header #ajaxloder [ajaxcall]="ajaxCall"></app-header>

<ion-content [fullscreen]="true" contentId="quotes-content" *ngIf="quote">
  <div class="page_wrapper">
    <div class="ion-toolbar-element flex justify-between items-start mb-3">
      <div slot="start">
        <div class="flex items-normal lefth">
          <ion-button [routerLink]="['/quotes']" class="cta-space-element cta-edit-element m-0 mt-[-10px]">
            <span class="back">
              <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.0001 20.7984L27.0001 20.7984" stroke="#243A57" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M19.2421 25.5969L15 20.7984L19.2421 16" stroke="#243A57" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </span>
          </ion-button>
          <span slot="start" class="font-bold font-['Poppins'] leading-normal">View Quote</span>
        </div>
        
      </div>
      <div slot="end" class="flex items-center lefth">
        <div class="justify-end text-end">
          <!-- <div><span class="text-xs mt-2 font-medium">{{ quote.create }}</span></div> -->
          <span class="badge inline-block me-0" [ngClass]="{'badge-warning': quote.status === 'draft','badge-danger': quote.status === 'messaged', 'badge-success': quote.status === 'accepted', 'badge-indigo': quote.status === 'sent'}">
            <span *ngIf="quote.status === 'sent'">Sent</span>
            <span *ngIf="quote.status === 'accepted'">Accepted</span>
            <span *ngIf="quote.status === 'draft'">Draft</span>
            <span *ngIf="quote.status === 'messaged'">Messaged</span>
          </span>
        </div>
      </div>
    </div>

    <ng-container>
      <div class="features-btn flex justify-end gap-2 items-center mb-2">
        <ion-button size="small" color="medium" (click)="downloadpdf()" tooltip="Download Quote" flow="left"> <ion-icon name="arrow-down"></ion-icon> </ion-button>
        <ion-button size="small" color="medium" (click)="sendMailPopup(true)" tooltip="Send Quote" flow="left"> <ion-icon name="paper-plane"></ion-icon> </ion-button>
        <ion-button size="small" color="warning" id="attachments-modal" (click)="attachmentListModalPopup(true)" tooltip="Add Attachments" flow="left"><ion-icon name="attach"></ion-icon></ion-button>
        <ion-button ion-button size="small" color="tertiary" tooltip="Add Discount" flow="left" (click)="discountModalPopup(true)"> <ion-icon name="pricetags"></ion-icon></ion-button>
        <ion-button size="small" color="success" tooltip="Add Attachment To Quote" flow="left"> <ion-icon name="add-circle"></ion-icon> </ion-button>
        <ion-button size="small" color="danger" tooltip="Delete" flow="left"> <ion-icon name="trash"></ion-icon> </ion-button>
      </div>
    </ng-container>

    <ng-container>
      <ion-list class="">
        <ion-item class="mb-4" *ngIf="quoteForm">
          <div class="justify-start text-start quote-box">
            <div class="quote-header flex justify-between mb-3">
              <ion-img class="border-0 p-0 pic" id="profilePic" [src]="logoUrl"></ion-img>
              
              <div class="text-end flex flex-col min-w-[60%] justify-start">
                <span class="font-bold font-['Poppins'] leading-normal">Quote {{ '#'+route.snapshot.params['id']}}</span>
                <span class="text-xs mt-2 font-medium"><strong>Estimate Date:</strong> {{ quote.estimate_date }}</span>
                <span class="text-xs mt-2 font-medium"><strong>Valid Until:</strong> {{ quote.valid_until }}</span>
              </div>
            </div>
            <h4 class="py-3 text-sm font-bold font-['Poppins'] leading-none border-y border-[##eeeeee]">QUOTE FROM</h4>
            
            <div class="quote-footer py-3 flex flex-col text-xs">
              <strong class="from_company">
                {{ quoteForm.creator_company_name }}
              </strong>
              <span class="from_address ">
                {{ quoteForm.street_address }}
                {{ quoteForm.city }}
                {{ quoteForm.state }}
                {{ quoteForm.postcode }}
              </span>
              <span *ngIf="quoteForm.mobile_number">
                <strong>phone:</strong>
                {{ quoteForm.mobile_number }}
              </span>
              <span *ngIf="quoteForm.website">
                <strong>Website:</strong>
                {{ quoteForm.website }}
              </span>
              <span *ngIf="quoteForm.vat_number">
                <strong>VAT Number:</strong>
                {{ quoteForm.vat_number }}
              </span>
            </div>
            <div class="justify-end text-end mt-3 text-xs" *ngIf="quote">
              <h4 class="mb-2 py-3 text-sm font-bold font-['Poppins'] leading-none border-y border-[##eeeeee]">QUOTE TO</h4>
              <div class="quote-footer flex flex-col text-xs">
                <strong class="to_name" *ngIf=" quote.first_name || quote.last_name">
                  {{ quote.first_name+' '+quote.last_name }}
                </strong>
                <strong *ngIf="quote.lead_company_name">
                  {{ quote.lead_company_name }}
                </strong>
                <span *ngIf="quote.lead_email">
                  {{ quote.lead_email }}
                </span>
              </div>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </ng-container>

    <ng-container *ngIf="estimateItems">
      <ion-card class="mx-0 mt-0" *ngFor="let item of estimateItems">
        <ion-card-header>
          <ion-card-title>{{item.title}}</ion-card-title>
          <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
        </ion-card-header>
      
        <ion-card-content [innerHtml]="item.description"></ion-card-content>
      
        <ion-card-content class="grid grid-cols-3">
          <span class="text-center">
            <h4>Quantity</h4>
            <p >{{item.quantity}}</p>
          </span>
          <span class="text-center">
            <h4>Rate</h4>
            <p>{{ helper.formatPrice(item.rate | number: '1.2-2') }}</p>
          </span>
          <span class="text-center">
            <h4>Total</h4>
            <p>{{ helper.formatPrice(item.total | number: '1.2-2')}}</p>
          </span>
        </ion-card-content>

        <ion-button fill="clear">
          <span>
            <svg width="48" height="38" viewBox="0 0 48 38" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g filter="url(#filter0_d_1_264)">
              <rect x="4" width="40" height="30" rx="5" fill="#007BFF"/>
              </g>
              <path d="M24.4 11.1945L27.77 14.5345L22.26 20.0045L18 20.9845L18.9 16.6645L24.4 11.1945Z" fill="white"/>
              <path d="M29.74 12.5445L28.74 13.6145L25.37 10.2745L26.45 9.19452C26.5865 9.06943 26.7649 9 26.95 9C27.1351 9 27.3135 9.06943 27.45 9.19452L29.79 11.5245C29.8552 11.594 29.9058 11.6759 29.9387 11.7653C29.9715 11.8548 29.9861 11.9499 29.9814 12.0451C29.9767 12.1403 29.953 12.2335 29.9115 12.3193C29.87 12.4051 29.8117 12.4817 29.74 12.5445Z" fill="white"/>
              <defs>
              <filter id="filter0_d_1_264" x="0" y="0" width="48" height="38" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
              <feOffset dy="4"/>
              <feGaussianBlur stdDeviation="2"/>
              <feComposite in2="hardAlpha" operator="out"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0.482353 0 0 0 0 1 0 0 0 0.25 0"/>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_264"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1_264" result="shape"/>
              </filter>
              </defs>
              </svg>  
          </span>
        </ion-button>
        <ion-button fill="clear">
          <span class="trash-sharp mt-1">
            <svg width="48" height="38" viewBox="0 0 48 38" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g filter="url(#filter0_d_1_256)">
              <rect x="4" width="40" height="30" rx="5" fill="#DC3545"/>
              </g>
              <path d="M26.4864 9.65578L25.8603 9H22.1488L21.5227 9.65578H19V10.9759H29V9.65578H26.4864Z" fill="white"/>
              <path d="M19.7441 11.5976H28.2559V19.7566C28.2559 20.0863 28.1163 20.4026 27.8679 20.6358C27.6194 20.869 27.2824 21 26.931 21H21.069C20.7176 21 20.3806 20.869 20.1322 20.6358C19.8837 20.4026 19.7441 20.0863 19.7441 19.7566V11.5976Z" fill="white"/>
              <defs>
              <filter id="filter0_d_1_256" x="0" y="0" width="48" height="38" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
              <feOffset dy="4"/>
              <feGaussianBlur stdDeviation="2"/>
              <feComposite in2="hardAlpha" operator="out"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0.862745 0 0 0 0 0.207843 0 0 0 0 0.270588 0 0 0 0.25 0"/>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_256"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1_256" result="shape"/>
              </filter>
              </defs>
              </svg>
          </span>
        </ion-button>
      </ion-card>

      <ion-card class="mx-0">  
        <ion-card-content>
          <div class="grid grid-cols-2 mb-1">
            <h4>Sub Total	</h4>
            <span>{{ helper.formatPrice(sub_total | number: '1.2-2') }}</span>
          </div>
          <div class="grid grid-cols-2 mb-1" *ngIf="quote.discount > 0">
            <h4>Discount	</h4>
            <span>{{ helper.formatPrice(quote.discount | number: '1.2-2') }} </span>
            <ion-button size="small" (click)="updateDiscount(quote)"><ion-icon name="pencil-outline"></ion-icon></ion-button>
            <ion-button size="small" (click)="removeDiscount(quote.estimate_id)"><ion-icon name="trash-outline"></ion-icon></ion-button> 
          </div>
          <div class="grid grid-cols-2 mb-1" *ngIf="quote.discount > 0">
            <h4>Sub Total after discount	</h4>
            <span>{{ helper.formatPrice(sub_total_after_discount | number: '1.2-2') }}</span>
          </div>
          <div class="grid grid-cols-2 mb-1" *ngIf="vatValue > 0">
            <h4>Vat {{ vat+'%' }}</h4>
            <span>{{ helper.formatPrice(vatValue | number: '1.2-2') }}</span>
          </div>
          <div class="grid grid-cols-2 mb-1">
            <h3>Total	</h3>
            <span>{{ helper.formatPrice(total | number: '1.2-2') }}</span>
          </div>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <ng-container *ngIf="quoteAttachments">
      <ul>
        <li *ngFor="let attachment of quoteAttachments">
          <ion-button size="small" (click)="removeAttachmentfromQuote(attachment.id)"><ion-icon name="trash-outline"></ion-icon></ion-button>
          <ion-img [src]=" helper.get_url_extension(attachment.file)" ></ion-img>
          <span>{{ attachment.title }}</span>
        </li>
      </ul>
    </ng-container>
  </div>
</ion-content>

<ion-modal #custModal>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel(false)"><ion-icon name="arrow-back"></ion-icon></ion-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Email Quote to client</ion-title>
        <ion-buttons slot="end">
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <form [formGroup]="sendQuoteMailForm" (ngSubmit)="sendQuote(sendQuoteMailForm.value)">
        <div class="input-cover">
          <ion-input formControlName="to" label="To*" label-placement="floating" fill="outline" placeholder="To"></ion-input>
          <span class="text-danger" *ngIf="formSubmit && sendQuoteMailForm.controls['to']?.errors?.['required']">This field is required</span>
        </div>
        
        <ion-select formControlName="cc" label="CC" label-placement="floating" fill="outline" *ngIf="teamMember.length>0" [multiple]="true"> 
          <ion-select-option *ngFor="let member of teamMember" [value]="member.id">{{ member.text }}</ion-select-option>
        </ion-select>
        
        <ion-select formControlName="bcc" label="BCC" label-placement="floating" fill="outline" *ngIf="teamMember.length>0" [multiple]="true"> 
          <ion-select-option *ngFor="let member of teamMember" [value]="member.id">{{ member.text }}</ion-select-option>
        </ion-select>

        <div class="input-cover">
          <div><ion-icon name="information-circle-outline"></ion-icon>
          <span class="text-xs mt-2 font-medium">By Default You will receive Quote notification on this email.
            For example if someone accept, reject or message on your quote then you will receive notification email on this email.
            If you want to change this you can go Settings > General > Email > Save</span></div>
          <ion-input formControlName="default_reply_to" label="Default Quote Notification Email*" label-placement="floating" fill="outline" placeholder="Default Quote Notification Email"></ion-input>
          <span class="text-danger" *ngIf="formSubmit && sendQuoteMailForm.controls['default_reply_to']?.errors?.['required']">This field is required</span>
        </div> 
        
        <div class="input-cover">
          <div><ion-icon name="information-circle-outline"></ion-icon>
          <span class="text-xs mt-2 font-medium">If you want to send Quote notifcation to other email as well then you can add those email from here.
            These selected email will receive quote accept, reject or message email.</span></div>
          <ion-input formControlName="reply_to" label="Add Other Quote Notification Emails" label-placement="floating" fill="outline" placeholder="Add Other Quote Notification Emails"></ion-input>
          <span class="text-danger" *ngIf="formSubmit && sendQuoteMailForm.controls['reply_to']?.errors?.['required']">This field is required</span>
        </div>

        <div class="input-cover">
          <ion-textarea formControlName="msg" label="message" label-placement="floating" fill="outline" placeholder="message" rows="6"></ion-textarea>
        </div>

        <ion-button expand="block" type="submit" color="{{ sendAjaxCall?'primary':'tertiary' }}" [disabled]="sendAjaxCall">Save <ion-spinner name="crescent" *ngIf="sendAjaxCall"></ion-spinner></ion-button>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="attachmentsModal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="attachPopup(false)"><ion-icon name="arrow-back"></ion-icon></ion-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Add Attachment</ion-title>
        <ion-buttons slot="end">
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <form [formGroup]="quoteAttachment" (ngSubmit)="quoteAttachmentSubmit(quoteAttachment.value)">

        <div class="input-cover">
          <ion-input formControlName="title" label="File Name*" label-placement="floating" fill="outline" placeholder="Enter File Name Here"></ion-input>
          <span class="text-danger" *ngIf="attachmentSubmit && quoteAttachment.controls['title']?.errors?.['required']">This field is required</span>
        </div>

        <div class="input-cover">
          <p class="text-sm"><span class="font-bold">Accepted Files:</span>  pdf,.doc,.docx,.xls,.xlsx,.csv,.tsv,.ppt,.pptx,.pages,.odt,.rtf | File Size Limit 14mb</p>
          <ion-button fill="outline" size="large" color="medium" (click)="pickFiles()">
            <ion-icon name="attach"></ion-icon>
            Select File*
          </ion-button>
          <span *ngIf="selectedFileName">{{ selectedFileName }} <ion-icon class="ml-1" name="close" (click)="removeSelectedFile()"></ion-icon></span>
          <span class="text-danger" *ngIf="attachmentSubmit && quoteAttachment.controls['file']?.errors?.['required']">This field is required</span>
        </div>

        <ion-button expand="block" type="submit" color="{{ sendAjaxCall?'primary':'tertiary' }}" [disabled]="sendAjaxCall">Save <ion-spinner name="crescent" *ngIf="sendAjaxCall"></ion-spinner></ion-button>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="attachmentListModal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="attachmentListModalPopup(false)"><ion-icon name="arrow-back"></ion-icon></ion-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Select Attachment</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="attachPopup(true)"><ion-icon name="attach"></ion-icon></ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <form [formGroup]="quote_attachment" #quoteAttachmentFormRef="ngForm" (ngSubmit)="selectAttachmentItem(quote_attachment.value)"
            autocomplete="off">
        <div class="input-cover" *ngIf="attachmentList">
          <ion-select formControlName="estimate_attachment_id" label="Select Attachment*" label-placement="floating" fill="outline" [multiple]="true"> 
            <ion-select-option *ngFor="let attachment of attachmentList" [value]="attachment.id">{{ attachment.title }}</ion-select-option>
          </ion-select>
          <span class="text-danger" *ngIf="attachmentBtn && quote_attachment.controls['estimate_attachment_id']?.errors?.['required']">This field is required</span>
        </div>

        <ion-button expand="block" type="submit" color="{{ sendAjaxCall?'primary':'tertiary' }}" [disabled]="sendAjaxCall">Save <ion-spinner name="crescent" *ngIf="sendAjaxCall"></ion-spinner></ion-button>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="discountModal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="discountModalPopup(false)"><ion-icon name="arrow-back"></ion-icon></ion-button>
        </ion-buttons>
        <ion-title class="ion-text-center">{{popup_title}} Discount</ion-title>
        <ion-buttons slot="end">
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <form [formGroup]="discountForm" (ngSubmit)="addDiscount(discountForm.value)" autocomplete="off">
        <div class="input-cover" *ngIf="attachmentList">
          <ion-select formControlName="discount_type" label="Select Discount Type*" label-placement="floating" fill="outline"> 
            <ion-select-option *ngFor="let type of discountTypes" [value]="type.id">{{ type.text }}</ion-select-option>
          </ion-select>
          <span class="text-danger" *ngIf="discountFormBtn && discountForm.controls['discount_type']?.errors?.['required']">This field is required</span>
        </div>
        
        <div class="input-cover">
          <ion-input formControlName="discount" label="discount*" label-placement="floating" fill="outline" placeholder="Enter Discount Here"></ion-input>
          <span class="text-danger" *ngIf="discountFormBtn && discountForm.controls['discount']?.errors?.['required']">This field is required</span>
        </div>

        <ion-button expand="block" type="submit" color="{{ sendAjaxCall?'primary':'tertiary' }}" [disabled]="sendAjaxCall">Save <ion-spinner name="crescent" *ngIf="sendAjaxCall"></ion-spinner></ion-button>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>