<app-header #ajaxloder [ajaxcall]="ajaxCall"></app-header>
<ion-content [fullscreen]="true">
  <div class="page_wrapper">
    <ion-toolbar class="ion-toolbar-element mb-3">
      <div slot="start" class="flex items-center lefth">
        <ion-button [routerLink]="['/leads/listing/']" class="cta-space-element cta-edit-element m-0">
          <span class="back">
            <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.0001 20.7984L27.0001 20.7984" stroke="#243A57" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M19.2421 25.5969L15 20.7984L19.2421 16" stroke="#243A57" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              
          </span>
        </ion-button>
        <!-- <ion-title  ><span class="font-bold font-['Poppins'] leading-normal text-md"></span></ion-title> -->
        <span slot="start" class="font-bold font-['Poppins'] leading-normal">Edit Lead {{ '#'+route.snapshot.params['id']}}</span>
      </div>
      
      <div class="filter-right-section flex gap-2" slot="end" *ngIf="leadData">
        <ion-button *ngIf="leadData.previous_lead_id > 0"  type="button" [routerLink]="['/lead-edit',leadData.previous_lead_id]"  ngbTooltip="Previous" class="cta-space-element cta-edit-element m-0">
          <span class="back">
            <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="42" height="42" rx="10" fill="white"/>
              <path d="M24 15L18 20.9943L24 27" stroke="#243A57" stroke-width="2" stroke-miterlimit="10"/>
              </svg>
              
          </span>
        </ion-button>

        <ion-button *ngIf="leadData.next_lead_id > 0"  type="button"  ngbTooltip="Next" [routerLink]="['/lead-edit',leadData.next_lead_id]" class="cta-space-element cta-edit-element m-0">
          <span class="next">
            <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="42" height="42" rx="10" fill="white"/>
              <path d="M18 15L24 20.9943L18 27" stroke="#243A57" stroke-width="2" stroke-miterlimit="10"/>
              </svg>
              
          </span>
        </ion-button>
      </div>
    </ion-toolbar>

    <div class="accordion_wrap">
      <ion-accordion-group class="accrdion-element-container" [multiple]="false" [value]="[activeTab]">

        <!-- 1 -->
        <ion-accordion value="lead_activities">
          <ion-item slot="header" (click)="setActive('lead_activities')">
            <ion-label class="cust-label">Activities</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ng-container *ngIf="activeTab == 'lead_activities'">
              <app-activities></app-activities>
            </ng-container>
          </div>
        </ion-accordion>

        <!-- 2 -->
        <ion-accordion value="lead_fields">
          <ion-item slot="header" (click)="setActive('lead_fields')">
            <ion-label class="cust-label">Lead Fields</ion-label>
          </ion-item>
          <div class="ion-padding filter-element-content" slot="content">
            <div class="section-loder flex-center my-2">
              <ion-spinner></ion-spinner>
            </div>
            <ng-container *ngIf="activeTab == 'lead_fields'">
              <div class="section-loder flex-center" *ngIf="ajaxLoader">
                <ion-spinner></ion-spinner>
              </div>
              <form [formGroup]="leadEditForm" (ngSubmit)="updateALeadData(leadEditForm.value)" *ngIf="leadData">
                <div *ngFor="let getfield of dynamicFieldPosition;">
                  <ng-container *ngIf="getfield.formControlName">
                    <div [ngSwitch]="getfield.formControlName">

                      <div *ngSwitchCase="'other_name'">
                        <!-- <ion-label>Name</ion-label>
                        {{ leadData.created_at }} -->
                      </div>
                      <div *ngSwitchCase="'other_date'">
                        <span class="badge badge-success mb-5 inline-block"> 
                          <ion-label>Created Date: </ion-label>{{ helper.dateToFromNowDaily(leadData.created_at) }}
                        </span>
                      </div>
                      <div *ngSwitchCase="'other_deal_position_dropdown'">
                        <!-- <ion-label>Stage Position</ion-label> -->
                      </div>

                      <div *ngSwitchCase="'assigned_to'" class="input-cover">
                        <ion-select [formControlName]="getfield.formControlName" *ngIf="assignedToteam.length > 0" label="Assigned To" label-placement="floating" fill="outline">
                          <ion-select-option *ngFor="let member of assignedToteam" [value]="member.id">
                            {{ member.first_name+' '+member.last_name }}
                          </ion-select-option>
                        </ion-select>
                        <span class="text-danger" *ngIf="leadEditFormSubmit && leadEditForm.controls[getfield.formControlName]?.errors?.['required']">This field is required</span>
                      </div>

                      <div *ngSwitchCase="'leadclosedate'" class="input-cover">
                        <ion-input [formControlName]="getfield.formControlName" type="date" label="Close Date" label-placement="floating" fill="outline" placeholder="Select date"></ion-input>
                        <span class="text-danger" *ngIf="leadEditFormSubmit && leadEditForm.controls[getfield.formControlName]?.errors?.['required']">This field is required</span>
                      </div>

                      <div *ngSwitchCase="'lead_title'" class="input-cover">
                        <ion-input [formControlName]="getfield.formControlName" label="Title" label-placement="floating" fill="outline" placeholder="Enter title"></ion-input>
                        <span class="text-danger" *ngIf="leadEditFormSubmit && leadEditForm.controls[getfield.formControlName]?.errors?.['required']">This field is required</span>
                      </div>

                      <div *ngSwitchCase="'price'" class="input-cover">
                        <ion-input [formControlName]="getfield.formControlName" type="number" label="Amount {{tokenStorage.formatPrice(0, true)}}" label-placement="floating" fill="outline" placeholder="Enter amount"></ion-input>
                        <span class="text-danger" *ngIf="leadEditFormSubmit && leadEditForm.controls[getfield.formControlName]?.errors?.['required']">This field is required</span>
                      </div>

                      <div *ngSwitchCase="'lead_source'" class="input-cover">
                        <ion-input [formControlName]="getfield.formControlName" type="url" label="Lead Source" label-placement="floating" fill="outline" placeholder="Lead Source"></ion-input>
                        <span class="text-danger" *ngIf="leadEditFormSubmit && leadEditForm.controls[getfield.formControlName]?.errors?.['required']">This field is required</span>
                      </div>
                      
                      <div *ngSwitchCase="'ip'" class="input-cover">
                        <ion-input [formControlName]="getfield.formControlName" type="url" label="Lead IP" label-placement="floating" fill="outline" placeholder="Lead IP"></ion-input>
                        <span class="text-danger" *ngIf="leadEditFormSubmit && leadEditForm.controls[getfield.formControlName]?.errors?.['required']">This field is required</span>
                      </div>
                      
                      <div *ngSwitchCase="'form_page'" class="input-cover">
                        <ion-input [formControlName]="getfield.formControlName" type="url" label="Lead URL" label-placement="floating" fill="outline" placeholder="Lead URL"></ion-input>
                        <span class="text-danger" *ngIf="leadEditFormSubmit && leadEditForm.controls[getfield.formControlName]?.errors?.['required']">This field is required</span>
                      </div>

                      <div *ngSwitchCase="'message'" class="input-cover">
                        <ion-textarea [formControlName]="getfield.formControlName" label="Message" label-placement="floating" fill="outline" placeholder="Message" rows="6"></ion-textarea>
                        <span class="text-danger" *ngIf="leadEditFormSubmit && leadEditForm.controls[getfield.formControlName]?.errors?.['required']">This field is required</span>
                      </div>

                      <div *ngSwitchDefault>
                        <div [ngSwitch]="getfield.field_type" *ngIf="dynamicFieldPosition.length > 0 && dynamicFieldPosition.length == fieldLength">

                          <div class="outline-none-element cust-checkbox-container input-cover" *ngSwitchCase="'checkboxes'">
                              <ion-label class=" ">{{ getfield.title }}</ion-label>
                              <div class="element-check-box" formArrayName="lead_custom_{{getfield.id}}">
                                <ion-checkbox *ngFor="let option of getfield.options" formControlName="{{option.value}}" (ionChange)="onCheckboxChange($event, option.value, getfield.id)">{{ option.label }}</ion-checkbox>
                              </div>
                              <span class="text-danger" *ngIf="leadEditFormSubmit && leadEditForm.controls['lead_custom_'+getfield.id]?.errors?.['required']">This field is required</span>
                          </div>

                          <div class="single_checkbox_element cust-checkbox-container input-cover" *ngSwitchCase="'single_checkbox'">
                            <ion-label class="single_checkbox_label">{{ getfield.title }}</ion-label>
                            <ion-checkbox formControlName="lead_custom_{{getfield.id}}">{{ getfield.title }}</ion-checkbox>
                            <span class="text-danger" *ngIf="leadEditFormSubmit && leadEditForm.controls['lead_custom_'+getfield.id]?.errors?.['required']">This field is required</span>
                          </div>

                          <div *ngSwitchCase="'text'" class="input-cover">
                              <ion-input formControlName="lead_custom_{{getfield.id}}" [label]="(getfield.required)? getfield.title+' * ':getfield.title" label-placement="floating" fill="outline" [placeholder]="getfield.title"></ion-input>
                              <span class="text-danger" *ngIf="leadEditFormSubmit && leadEditForm.controls['lead_custom_'+getfield.id]?.errors?.['required']">This field is required</span>
                          </div>

                          <div *ngSwitchCase="'select'" class="input-cover">
                            <ion-select formControlName="lead_custom_{{getfield.id}}" [label]="(getfield.required)? getfield.title+' * ':getfield.title" label-placement="floating" fill="outline">
                              <ion-select-option *ngFor="let option of getfield.options" [value]="option.value">
                                {{ option.label }}
                              </ion-select-option>
                            </ion-select>
                            <span class="text-danger" *ngIf="leadEditFormSubmit && leadEditForm.controls['lead_custom_'+getfield.id]?.errors?.['required']">This field is required</span>
                          </div>

                          <div *ngSwitchCase="'textarea'" class="input-cover">
                              <ion-textarea formControlName="lead_custom_{{getfield.id}}" [label]="(getfield.required)? getfield.title+' * ':getfield.title" label-placement="floating" fill="outline" [placeholder]="getfield.title" rows="6"></ion-textarea>
                              <span class="text-danger" *ngIf="leadEditFormSubmit && leadEditForm.controls['lead_custom_'+getfield.id]?.errors?.['required']">This field is required</span>
                          </div>

                          <div class="radiobuttons_element cust-checkbox-container" *ngSwitchCase="'radiobuttons'">
                            <ion-label>{{ getfield.title }}</ion-label>
                            <div class="input-cover">
                              <ion-radio-group formControlName="lead_custom_{{getfield.id}}">
                                <ion-radio *ngFor="let option of getfield.options" value="{{ option.value }}">{{ option.label }}</ion-radio><br />
                              </ion-radio-group>
                              <span class="text-danger" *ngIf="leadEditFormSubmit && leadEditForm.controls['lead_custom_'+getfield.id]?.errors?.['required']">This field is required</span>
                            </div>
                          </div>
                          <div *ngSwitchCase="'date'" class="input-cover">
                            <ion-input formControlName="lead_custom_{{getfield.id}}" type="date" [label]="(getfield.required)? getfield.title+' * ':getfield.title" label-placement="floating" fill="outline" placeholder="Select date"></ion-input>
                            <span class="text-danger" *ngIf="leadEditFormSubmit && leadEditForm.controls['lead_custom_'+getfield.id]?.errors?.['required']">This field is required</span>
                          </div>

                          <div *ngSwitchCase="'file'" class="input-cover">
                            <ion-input formControlName="lead_custom_{{getfield.id}}" type="file" [label]="(getfield.required)? getfield.title+' * ':getfield.title" label-placement="floating" fill="outline" placeholder="Select file"></ion-input>
                            <span class="text-danger" *ngIf="leadEditFormSubmit && leadEditForm.controls['lead_custom_'+getfield.id]?.errors?.['required']">This field is required</span>
                              <img *ngIf="leadData.custom_fields[getfield.id]" [src]="leadData.custom_fields[getfield.id].value">
                          </div>
                          <div *ngSwitchDefault>
                            <ion-input [formControlName]="getfield.formControlName" class="hidden-input" type="hidden"></ion-input>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
                <ion-button expand="block" type="submit" color="{{ ajaxCall?'primary':'tertiary' }}" [disabled]="ajaxCall">Save <ion-spinner name="crescent" *ngIf="ajaxCall"></ion-spinner></ion-button>
              </form>
            </ng-container>
          </div>
        </ion-accordion>

        <!-- 3 -->
        <ion-accordion value="lead_contacts" *ngIf="leadData">
          <ion-item slot="header" (click)="setActive('lead_contacts')">
            <ion-label class="cust-label">Contacts</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ng-container *ngIf="activeTab == 'lead_contacts'">
              <app-contacts></app-contacts>
            </ng-container>
          </div>
        </ion-accordion>

        <!-- 4 -->
        <ion-accordion value="lead_companies">
          <ion-item slot="header" (click)="setActive('lead_companies')">
            <ion-label class="cust-label">Company</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ng-container *ngIf="activeTab == 'lead_companies'">
              <app-companies></app-companies>
            </ng-container>
          </div>
        </ion-accordion>

        <!-- 5 -->
        <ion-accordion value="lead_campaign">
          <ion-item slot="header" (click)="setActive('lead_campaign')">
            <ion-label class="cust-label">Send Campaign</ion-label>
          </ion-item>
          <div class="ion-padding pt-0" slot="content">
            <ng-container *ngIf="activeTab == 'lead_campaign'">
              <app-lead-campaign></app-lead-campaign>
            </ng-container>
          </div>
        </ion-accordion>

        <!-- 5 -->
        <ion-accordion value="lead_notes">
          <ion-item slot="header" (click)="setActive('lead_notes')">
            <ion-label class="cust-label">Notes</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ng-container *ngIf="activeTab == 'lead_notes'">
              <app-notes></app-notes>
            </ng-container>
          </div>
        </ion-accordion>

      </ion-accordion-group>
    </div>
  </div>
</ion-content>
