

// .single_checkbox_element{
//     margin-top: 0px;
//     padding: 0 16px;
// }

.single_checkbox_element ion-checkbox {
    width: 100%;
}

.radiobuttons_element ion-label {
    display: block;
    margin-bottom: .5rem!important;
    font-weight: 600;
}

.label-element {
    margin-bottom: .5rem!important;
    display: block;
    font-weight: 600;
    // padding-left: 15px;
}

.radiobuttons_element ion-radio-group ion-radio {
    display: block;
    margin-top: 15px !important;
}

// .accrdion-element-container .accordion-expanded  ion-item {
//     --border-color: transparent;
// }


.outline-none-element ion-item{
    --border-color: transparent;
}

// ion-item {
//     --min-height: 16px;
// }

.element-check-box {
    // padding: 0 16px;
}



.single_checkbox_label {
    padding-left: 0 !important;
}
.cust-label{
  @apply text-sm font-normal font-['Poppins'] leading-tight #{!important};
}

ion-accordion ion-item{
  @apply shadow-md;
}
::ng-deep .lefth ion-button{
    -webkit-padding-start: 0;
}
.ion-toolbar-element ion-title{
    padding-left: 0;
}



