.cust-icon {
    font-size: 24px;
    padding-top: 0px;
    vertical-align: middle;
    height: 44px;
}

ion-item {
    margin-top: 10px;
    background: transparent;
    border: 1px solid #b18ffe;
    --padding-start: 0px;
    --inner-padding-end: 0px;
    --highlight-color-valid: #b18ffe;
    --highlight-color-focused: #b18ffe;
    --highlight-color-invalid: #b18ffe;
    border-radius: 8px;
}

ion-img.logo-login {
    width: 230px !important;
    margin: 10px auto !important;
}

.seeClient{
    background-color: #b18ffe;
    border-radius: 8px;
    width: 50px;
    margin: 0px 15px 0 5px !important;
}

ion-card-header {
    text-align: center;
    align-items: center;
}

ion-card {
    width: 100%;
    box-shadow: none;
}

.submit-btn button{
  padding: 20px !important;
}
::ng-deep .cust-pass label .label-text-wrapper.sc-ion-input-md{
    font-size: 1rem;
}
