<ion-content [fullscreen]="true" >
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-img class="logo-login" [src]="logoUrl" alt="logo"></ion-img>
        <ion-card-title class="text-lg font-medium font-['Poppins'] leading-relaxed">Sign in to Telagus to continue</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="loginForm" autocomplete="off" (ngSubmit)="getlogin(loginForm.value)">
            <div class="input-cover">
              <ion-input type="email" label="Email*"  labelPlacement="stacked"  fill="outline" name="email" formControlName="email" placeholder="Enter email" autocomplete="off" class="!mb-2.5"></ion-input>
              <span color="danger" *ngIf="formSubmitted && loginForm.controls?.['email']?.errors?.['required']">This field is required.</span>
              <span color="danger" *ngIf="formSubmitted && loginForm.controls?.['email']?.errors?.['email']">Email is invalid.</span>
            </div>
            <div class="input-cover"> 
              <ion-input class="cust-pass" [type]="inputtype"  #passwordInput name="psw" formControlName="password" label="Password*"  labelPlacement="stacked"  fill="outline" placeholder="Enter password"  autocomplete="off">
                <ion-button fill="clear" slot="end" aria-label="Show/hide" (click)="viewPass($event)">
                  <ion-icon slot="icon-only" [name]="iconName" aria-hidden="true"></ion-icon>
                </ion-button>
              </ion-input>
              <span color="danger" *ngIf="formSubmitted && loginForm.controls?.['password']?.errors?.['required']">This field is required.</span>
            </div>
            <ion-checkbox formControlName="remember_me"> Remember me </ion-checkbox>

            <button expand="block" type="submit" color="primary" [disabled]="loginSpinner" class="submit-btn w-full py-3.5 bg-[#b28dff] text-white text-base font-bold font-['Poppins'] leading-normal rounded-lg uppercase">Sign In <ion-spinner class="w-4 h-4" name="crescent" *ngIf="loginSpinner"></ion-spinner></button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
