<ion-header class="app-header-top" [translucent]="true">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-buttons class="menu-button" slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-label class="ion-text-center">
        <ion-img class="logo " [src]="logoUrl" alt="logo"></ion-img>
      </ion-label>
      <ion-avatar aria-hidden="true" slot="end">
        <img *ngIf="user" alt="" [src]="user.userInfo.profile" />
      </ion-avatar>
      <!-- <ion-icon name="log-out" slot="end" (click)="userLogout()"></ion-icon> -->
    </ion-item>
  </ion-toolbar>
  <ion-progress-bar type="indeterminate" *ngIf="ajaxcall"></ion-progress-bar>
</ion-header>
