ion-item.pagination-wrap { margin-top: 5px; }
ion-item.pagination-wrap pagination-controls.paginator {
    margin-right: 0;
}

ion-item.pagination-wrap:not(.item-label):not(.item-has-modern-input) .sc-ion-input-md-h {
    --padding-start: unset;
    margin-top: 4px !important;
}

.lead_list_wrap ion-row {
    background: var(--ion-color-light);
    color: var(--ion-color-light-contrast);
    padding: 10px 0px;
}
.lead_list_wrap ion-accordion.md.accordion-collapsed.accordion-animated.hydrated, .list-header {
    margin-bottom: 4px;
}
ion-accordion.accordion-expanding,
ion-accordion.accordion-expanded {
  width: calc(100% - 32px);
  margin: 16px auto;
}

.filter-group li {
  @apply text-sm font-['Poppins'] leading-none tracking-tight pb-[10px] px-4 mb-1.5;
    /*position: relative;
    display: block;
    padding: 10px 15px;
    background-color: #eef2f6;
    border-radius: 0.25rem;
    border: none;
    transition: 0.3s;
    margin-bottom: 5px;*/
    color: #212529;
}
.border-line-layout {
    position: relative;
    padding: 0px 20px 20px 20px !IMPORTANT;
    z-index: 0;
}
.filter-modal{
  padding: 0px 0px 0px 0px !IMPORTANT;
}

.border-line-layout-label {
    display: inline-block;
    padding: 9px 10px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 12px;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
    width: 100%;
    margin-top: 1px;
}

ul.filter-group h5 {
    background: #fff;
    color: #000;
}


/*.border-line-layout:after {
    content: "";
    position: absolute;
    width: 99%;
    height: calc(99% - 10px);
    left: 0;
    top: 10px;
    border: 1px dashed #dddddd;
    z-index: -1;
    border-radius: 10px;
}*/

.list-group-item:hover{
    background: #dfd3ff;
    color: #000;
}

.border-line-layout-label {
    background-color: #7a4bcc;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 12px;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
    width: auto;
}

/*.cst-filter-layout .form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}*/

.cst-filter-layout .form-group ion-radio {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;
}

.cst-filter-layout .form-group ion-input {
    width: 100%;
}

.back-btn-element {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: end;
}

.search-element-section ion-input {
    min-height: 50px !important;
    --border-radius: 10px !important;
    margin-bottom: 20px;
}

/*.search-element-section {
    margin-top: 10px;
}

.form-group .form-group-element {
    display: inline-block;
    width: 47%;
    margin-right: 10px;
}*/

.date-picke-label-element ion-label {
    text-align: center !IMPORTANT;
    display: block;
}

.filter-element-content ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


.ion-toolbar-element ion-title {
    flex: 0;
}
.search-section-element {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 5px;
}

/*.search-section-element  ion-searchbar {
    --box-shadow: none !important;
     border: 1px solid #ccc;
     border-radius: 30px;
}*/

.ion-toolbar-element {
    padding: 5px 0 0px;
}

.serarch-filter-element {
    width: 100%;
}

.serarch-filter-item {
    --border-color: transparent !important;
}
.page-element ion-input {
    // min-height: 38px !important;
    --border-color:#243a57 !important;
    margin-bottom: 0;
}

.top-action {
    --min-height: 40px !important;
}

.top-action ion-badge {
    padding: 8px 10px;
    font-size: 14px;
}

.top-action ion-button ion-icon {
    font-size: 16px;
}

.top-action ion-badge ion-icon {
    font-size: 16px;
    vertical-align: middle;
    padding-right: 5px;
}

.custom-element-cta {
    background: #fff;
    border-radius: 6px;
}

.search-section-element ion-searchbar {
    --border-radius: 8px !important;
    --box-shadow: none !important;
    padding-inline-start: 0 !important;
    padding-inline-end: 0 !important;
}

.ion-toolbar-element ion-title {
    padding-inline-start: 0;
}

.badge-element {
    /*background: #ecf0f3;s
    color: #243a57;
    padding: 10px 10px !IMPORTANT;
    font-weight: normal;*/
    @apply rounded-lg bg-[#ecf0f3] text-[#243a57] text-sm font-normal font-['Poppins'] leading-tight p-2.5 flex items-center gap-3;
}

.cta-edit-element {
    // --ion-color-base: transparent !IMPORTANT;
    --background: transparent !important;
    --box-shadow: none;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-end: 0;
}

.cta-space-element{
    --padding-top: 0px;
    --padding-start: 0px;
    --padding-end: 0px;
    --padding-bottom: 0px;

}

/*::ng-deep ion-icon.ion-accordion-toggle-icon{
    display: none !important;
}*/


.ion-footer-element-section {
    padding: 10px 0;
    background: #fff;
}
.heading-label{
    @apply font-semibold mb-3  mt-4 font-[Poppins] block ;
}

/* .lead-not-action {
    border: 1px solid rgb(36 58 87) !important;
    border-radius: 12px !important;
    overflow: hidden !important;
 } */

ion-skeleton-text {
    /* --border-radius: 9999px;*/
    --background: rgb(221 221 221 / 9%)
    /* --background-rgb: 188, 0, 255; */
}


ion-item.remove_inner_bottom{
    --inner-border-width: 0; /* this removes the inner border width*/
}

::ng-deep pagination-controls .pagination-previous a::before{
    margin-right: 0 !important;
}
::ng-deep pagination-controls .pagination-next a::after{
    margin-left: 0 !important;
}
::ng-deep pagination-controls .pagination-previous a, ::ng-deep pagination-controls .pagination-next a{
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
    // color: #fefefe !important;
    background: #ECF0F3 !important;
}

::ng-deep .cust-checkbox-container ion-radio{
    margin-right: 15px !important;
  }

::ng-deep .cust-checkbox-container ion-radio .label-text-wrapper{
    margin-right: 5px !important;
  }
  span.active-filter {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #243a57;
    display: block;
    position: absolute;
    top: -2px;
    right: -2px;
    z-index: 9999;
}
.cover .top-bar+ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.cover > .top-bar h5 {
    @apply font-semibold;
}
.cover .top-bar+ul {
    margin-top: 15px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eef2f6;

}
.cover .top-bar+ul li {
    @apply bg-[#eeeeee] mb-1.5 px-3 pt-2 pb-1 rounded-lg;
}
.cover .top-bar+ul li ion-button{
    margin: 0;
}