<app-header #ajaxloder [ajaxcall]="ajaxCall"></app-header>

<ion-content [fullscreen]="true">
  <div class="page_wrapper" *ngIf="posts">
    <div class="ion-toolbar-element flex justify-between items-center mb-3">
      <span slot="start" class="font-bold font-['Poppins'] leading-normal">Leads</span>
      <div class="right flex gap-2">
        <ng-container *ngIf="leadLimits">
          <span tooltip="Add Lead" flow="left"  class="add" (click)="open(true)" *ngIf="leadLimits.excluded_from_subscription == 'yes' || leadLimits.limit > 0">
            <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="42" height="42" rx="10" fill="white"/>
              <path d="M15.496 21L28 21" stroke="#2B2B2B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M21.748 14.748L21.748 27.252" stroke="#2B2B2B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
          </span>
        </ng-container>
        <span *ngIf="appliedFilters.length > 0" (click)="clearAllFilters()" class="brush" tooltip="Clear Filters" flow="left">
          <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="42" height="42" rx="10" fill="white" />
            <path
              d="M26.1895 20.1304H15.2008L14.0013 28.7934C13.9984 28.8152 14.0003 28.8372 14.0067 28.8582C14.0131 28.8792 14.0239 28.8986 14.0385 28.915C14.053 28.9314 14.0709 28.9445 14.0909 28.9535C14.1109 28.9624 14.1327 28.9669 14.1546 28.9667H27.2624C27.2846 28.9668 27.3065 28.9622 27.3269 28.9534C27.3472 28.9445 27.3655 28.9315 27.3805 28.9152C27.3955 28.8989 27.407 28.8797 27.4142 28.8588C27.4214 28.8378 27.4242 28.8155 27.4224 28.7934L26.1895 20.1304Z"
              stroke="#2B2B2B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            <path
              d="M16.8335 17.9113H24.5169C24.8345 17.9113 25.149 17.9742 25.4422 18.0963C25.7354 18.2185 26.0014 18.3975 26.2251 18.623C26.4487 18.8485 26.6255 19.116 26.7452 19.4102C26.865 19.7044 26.9252 20.0194 26.9226 20.337V21.8563H14.4278V20.337C14.4252 20.0194 14.4855 19.7044 14.6052 19.4102C14.7249 19.116 14.9017 18.8485 15.1253 18.623C15.349 18.3975 15.6151 18.2185 15.9082 18.0963C16.2014 17.9742 16.5159 17.9113 16.8335 17.9113Z"
              fill="#2B2B2B" />
            <path
              d="M20.6918 19.8105C20.3195 19.8088 19.9628 19.66 19.6995 19.3967C19.4362 19.1334 19.2875 18.7768 19.2858 18.4044V14.4061C19.2858 14.0332 19.4339 13.6755 19.6976 13.4119C19.9613 13.1482 20.3189 13 20.6918 13C21.0648 13 21.4224 13.1482 21.6861 13.4119C21.9498 13.6755 22.0979 14.0332 22.0979 14.4061V18.4044C22.0979 18.7773 21.9498 19.135 21.6861 19.3987C21.4224 19.6624 21.0648 19.8105 20.6918 19.8105Z"
              fill="#2B2B2B" />
            <path d="M16.5602 29L16.8268 25.9946" stroke="#2B2B2B" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
            <path d="M22.7043 29L21.938 24.0887" stroke="#2B2B2B" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
            <path d="M25.2099 29L24.8434 26.9942" stroke="#2B2B2B" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </span>
        <span (click)="setOpen(true)" class="filter" tooltip="Filter Leads" flow="left">
          <span *ngIf="appliedFilters.length > 0" class="active-filter"></span>
          <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="42" height="42" rx="10" fill="white" />
            <path d="M29 16.8689H27.6046" stroke="#2B2B2B" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
            <path d="M21.6095 16.8689H13" stroke="#2B2B2B" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
            <path d="M14.3886 24.5193H13" stroke="#2B2B2B" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
            <path d="M28.9997 24.5193H20.3902" stroke="#2B2B2B" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
            <path
              d="M27.347 16.8721V16.9369C27.3283 17.6862 27.0175 18.3986 26.4809 18.9219C25.9443 19.4452 25.2244 19.738 24.4748 19.7378C23.7253 19.738 23.0053 19.4452 22.4687 18.9219C21.9321 18.3986 21.6213 17.6862 21.6027 16.9369V16.8721C21.6027 16.1104 21.9053 15.3798 22.4439 14.8412C22.9825 14.3026 23.7131 14 24.4748 14C25.2365 14 25.9671 14.3026 26.5057 14.8412C27.0444 15.3798 27.347 16.1104 27.347 16.8721Z"
              fill="#2B2B2B" />
            <path
              d="M20.1198 24.5193V24.5581C20.1113 25.3116 19.806 26.0314 19.2701 26.5612C18.7342 27.091 18.011 27.3882 17.2574 27.3882C16.5033 27.3883 15.7794 27.0913 15.2425 26.5617C14.7055 26.0321 14.3988 25.3122 14.3886 24.5581V24.5193C14.3886 23.7584 14.6908 23.0287 15.2288 22.4907C15.7669 21.9527 16.4966 21.6504 17.2574 21.6504C17.6339 21.6504 18.0066 21.7246 18.3543 21.8689C18.702 22.0131 19.0179 22.2246 19.2837 22.4911C19.5496 22.7576 19.7603 23.0739 19.9038 23.4219C20.0473 23.7699 20.1207 24.1428 20.1198 24.5193Z"
              fill="#2B2B2B" />
          </svg>
        </span>
      </div>
    </div>
    <ng-container *ngIf="leadLimits">
        <span class="text-xs mt-2 mb-4 font-semibold leading-normal inline-block text-red-600">You have {{ leadLimits.limit }} lead credits remaining. Click the purchase button to buy more credits.</span>
    </ng-container>
    <div class="search-section-element mb-5">
      <ion-searchbar class="!py-0" (ionInput)="onSearchInput($event)"></ion-searchbar>
    </div>

    <ng-container *ngIf="posts.length > 0 && !ajaxLoader">
      <div class="accordion_wrap">
        <ion-accordion-group class="accrdion-element-container">
          <ion-accordion *ngFor="let post of posts | paginate : { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: count }; let i = index"
            value="first-{{ post.lead_id }}">

            <ion-item class="shadow-md" slot="header" [ngClass]="post.is_lead_action ? 'lead-not-action' : 'inactiveeee'">
              <ion-label class="p-2.5 mb-0">
                <div class="accrdion-element-item">
                  <span class="person"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <rect width="24" height="24" fill="white" />
                      <path
                        d="M11.8725 12.13C13.5653 12.13 14.9375 10.7578 14.9375 9.065C14.9375 7.37225 13.5653 6 11.8725 6C10.1798 6 8.80754 7.37225 8.80754 9.065C8.80754 10.7578 10.1798 12.13 11.8725 12.13Z"
                        stroke="#2B2B2B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                      <path
                        d="M6.0025 18C5.97958 17.2151 6.11439 16.4335 6.39895 15.7016C6.68351 14.9697 7.11204 14.3023 7.65915 13.739C8.20627 13.1757 8.86085 12.7279 9.58413 12.4221C10.3074 12.1163 11.0847 11.9587 11.87 11.9587C12.6553 11.9587 13.4326 12.1163 14.1559 12.4221C14.8791 12.7279 15.5337 13.1757 16.0808 13.739C16.628 14.3023 17.0565 14.9697 17.341 15.7016C17.6256 16.4335 17.7604 17.2151 17.7375 18"
                        stroke="#2B2B2B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg></span>
                  {{ (post.first_name != 'null')?post.first_name:'' }} {{ (post.last_name != 'null')?post.last_name:'' }}
                </div>
                <div class="accrdion-element-item" *ngIf="post.email != 'null'"><span class="mail" *ngIf="post.email != null">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect width="24" height="24" fill="white" />
                      <path
                        d="M16.9642 6H7.03583C5.91147 6 5 6.95373 5 8.13021V15.8698C5 17.0463 5.91147 18 7.03583 18H16.9642C18.0885 18 19 17.0463 19 15.8698V8.13021C19 6.95373 18.0885 6 16.9642 6Z"
                        stroke="#2B2B2B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                      <path
                        d="M16.1338 9.0606L13.0569 12.0902C12.7822 12.353 12.4142 12.5 12.0312 12.5C11.6482 12.5 11.2803 12.353 11.0056 12.0902L7.86707 9.00002"
                        stroke="#2B2B2B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                  </span> {{ post.email }}</div>
                <div (click)="$event.stopPropagation()" class="accrdion-element-item" *ngIf="post.mobile_number != 'null'"><span class="call" *ngIf="post.mobile_number != null">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect width="24" height="24" fill="white" />
                      <path
                        d="M18.7029 15.6786C18.796 15.7709 18.8699 15.8808 18.9203 16.0019C18.9708 16.123 18.9967 16.2528 18.9967 16.384C18.9967 16.5151 18.9708 16.6449 18.9203 16.766C18.8699 16.8871 18.796 16.997 18.7029 17.0894L17.8503 17.942C17.2424 18.5489 16.4384 18.9199 15.582 18.9885C14.7257 19.057 13.873 18.8187 13.1762 18.3162C10.3283 16.2514 7.8236 13.7508 5.75412 10.9063L5.69278 10.8204C5.18628 10.126 4.94442 9.27354 5.01077 8.41658C5.07712 7.55963 5.44732 6.75455 6.05469 6.14637L6.90731 5.29374C6.99968 5.20064 7.10957 5.1268 7.23064 5.07637C7.35171 5.02595 7.48156 5 7.61271 5C7.74386 5 7.87371 5.02595 7.99478 5.07637C8.11585 5.1268 8.22575 5.20064 8.31812 5.29374L10.3546 7.32412C10.5397 7.51227 10.6434 7.76563 10.6434 8.02954C10.6434 8.29345 10.5397 8.54681 10.3546 8.73496L9.7412 9.34836C9.55317 9.53476 9.43973 9.78338 9.42223 10.0476C9.39624 10.3124 9.47068 10.5773 9.63079 10.7898C10.62 12.14 11.8094 13.3314 13.1578 14.323L13.2069 14.3598C13.4196 14.5185 13.6823 14.5954 13.9471 14.5762C14.2118 14.5571 14.4607 14.4433 14.6484 14.2555L15.2618 13.6421C15.4499 13.4571 15.7033 13.3533 15.9672 13.3533C16.2311 13.3533 16.4844 13.4571 16.6726 13.6421L18.7029 15.6786Z"
                        stroke="#2B2B2B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>

                  </span> <a href="{{'tel:'+post.mobile_number}}">{{ (post.mobile_number)?post.mobile_number:'' }}</a>
                </div>
                <div class="accrdion-element-item">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.6641 9.38666C18.6641 8.57753 18.3427 7.80155 17.7706 7.22941C17.1985 6.65726 16.4225 6.33584 15.6133 6.33584H9.05082C8.24169 6.33584 7.46569 6.65726 6.89355 7.22941C6.32141 7.80155 6 8.57753 6 9.38666V11.79H18.6641V9.38666Z" stroke="#2B2B2B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M6 11.79V15.9492C6 16.7583 6.32141 17.5343 6.89355 18.1064C7.46569 18.6786 8.24169 19 9.05082 19H15.6075C16.4166 19 17.1926 18.6786 17.7648 18.1064C18.3369 17.5343 18.6583 16.7583 18.6583 15.9492V11.79H6Z" stroke="#2B2B2B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M9.73331 5V7.58417" stroke="#2B2B2B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M14.925 5V7.58417" stroke="#2B2B2B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

                  <span class="badge badge-success">
                    {{ post.created }}
                  </span>
                </div>

                <div class="top-action">

                  <div  class="">
                    <ion-button tooltip="Edit Lead" flow="right" (click)="$event.stopPropagation()" class="cta-edit-element cta-space-element" [routerLink]="['/lead-edit/', post.lead_id]"
                      color="" size="">
                      <span class="pencil mt-1">
                        <svg width="48" height="38" viewBox="0 0 48 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g filter="url(#filter0_d_1_264)">
                          <rect x="4" width="40" height="30" rx="5" fill="#007BFF"/>
                          </g>
                          <path d="M24.4 11.1945L27.77 14.5345L22.26 20.0045L18 20.9845L18.9 16.6645L24.4 11.1945Z" fill="white"/>
                          <path d="M29.74 12.5445L28.74 13.6145L25.37 10.2745L26.45 9.19452C26.5865 9.06943 26.7649 9 26.95 9C27.1351 9 27.3135 9.06943 27.45 9.19452L29.79 11.5245C29.8552 11.594 29.9058 11.6759 29.9387 11.7653C29.9715 11.8548 29.9861 11.9499 29.9814 12.0451C29.9767 12.1403 29.953 12.2335 29.9115 12.3193C29.87 12.4051 29.8117 12.4817 29.74 12.5445Z" fill="white"/>
                          <defs>
                          <filter id="filter0_d_1_264" x="0" y="0" width="48" height="38" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                          <feOffset dy="4"/>
                          <feGaussianBlur stdDeviation="2"/>
                          <feComposite in2="hardAlpha" operator="out"/>
                          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0.482353 0 0 0 0 1 0 0 0 0.25 0"/>
                          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_264"/>
                          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1_264" result="shape"/>
                          </filter>
                          </defs>
                          </svg>                          
                      </span>
                    </ion-button>

                    <ion-button tooltip="Delete Lead" flow="right" (click)="delectLead(post.lead_id)" (click)="$event.stopPropagation()"  class="cta-edit-element cta-space-element" size="">
                      <span class="trash-sharp mt-1">
                        <svg width="48" height="38" viewBox="0 0 48 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g filter="url(#filter0_d_1_256)">
                          <rect x="4" width="40" height="30" rx="5" fill="#DC3545"/>
                          </g>
                          <path d="M26.4864 9.65578L25.8603 9H22.1488L21.5227 9.65578H19V10.9759H29V9.65578H26.4864Z" fill="white"/>
                          <path d="M19.7441 11.5976H28.2559V19.7566C28.2559 20.0863 28.1163 20.4026 27.8679 20.6358C27.6194 20.869 27.2824 21 26.931 21H21.069C20.7176 21 20.3806 20.869 20.1322 20.6358C19.8837 20.4026 19.7441 20.0863 19.7441 19.7566V11.5976Z" fill="white"/>
                          <defs>
                          <filter id="filter0_d_1_256" x="0" y="0" width="48" height="38" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                          <feOffset dy="4"/>
                          <feGaussianBlur stdDeviation="2"/>
                          <feComposite in2="hardAlpha" operator="out"/>
                          <feColorMatrix type="matrix" values="0 0 0 0 0.862745 0 0 0 0 0.207843 0 0 0 0 0.270588 0 0 0 0.25 0"/>
                          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_256"/>
                          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1_256" result="shape"/>
                          </filter>
                          </defs>
                          </svg>
                      </span>
                    </ion-button>

                    <ion-toast trigger="open-toast-{{post.lead_id}}" position="top" message="No Action has been taken on this Record" [duration]="3000" icon="information"></ion-toast>
                    <ion-button tooltip="No Action has been taken on this Record" flow="right" class="cta-edit-element cta-space-element" (click)="$event.stopPropagation()" *ngIf="post.is_lead_action" size="" id="open-toast-{{post.lead_id}}" >
                      <span class="info mt-1">
                        <svg width="48" height="38" viewBox="0 0 48 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g filter="url(#filter0_d_231_69)">
                          <rect x="4" width="40" height="30" rx="5" fill="#FFC513"/>
                          </g>
                          <path d="M20 21V19.5344H23.3389V21H20ZM20.4726 14.1163V12.6506H24.8454V14.1163H20.4726ZM23.9596 11.3275C23.6906 11.3267 23.4302 11.2329 23.2226 11.0618C23.015 10.8907 22.8731 10.653 22.821 10.3891C22.769 10.1252 22.8099 9.85141 22.9369 9.61429C23.0639 9.37718 23.2691 9.19138 23.5176 9.08849C23.7662 8.98561 24.0427 8.97199 24.3001 9.04997C24.5575 9.12794 24.78 9.29268 24.9297 9.51617C25.0794 9.73967 25.147 10.0081 25.1211 10.2758C25.0952 10.5436 24.9773 10.7941 24.7876 10.9847C24.6806 11.0957 24.5518 11.1834 24.4093 11.2424C24.2668 11.3014 24.1137 11.3304 23.9596 11.3275ZM23.1809 21V13.1232H24.8497V21H23.1809ZM24.6931 21V19.5344H27.4184V21H24.6931Z" fill="#2B2B2B" stroke="#2B2B2B" stroke-width="0.3"/>
                          <defs>
                          <filter id="filter0_d_231_69" x="0" y="0" width="48" height="38" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                          <feOffset dy="4"/>
                          <feGaussianBlur stdDeviation="2"/>
                          <feComposite in2="hardAlpha" operator="out"/>
                          <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.772549 0 0 0 0 0.0745098 0 0 0 0.25 0"/>
                          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_231_69"/>
                          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_231_69" result="shape"/>
                          </filter>
                          </defs>
                          </svg>                          
                      </span>
                    </ion-button>

                    <!-- <ion-button class="cta-edit-element cta-space-element" size="" color="light">
                      <span class="info mt-1">
                        <ion-icon name="chevron-down"></ion-icon>
                      </span>
                    </ion-button> -->
                  </div>
                </div>

              </ion-label>

            </ion-item>

            <div class="ion-padding filter-element-content pt-5" slot="content">
              <ion-label>
                <ul>
                  <li><b>Assigned To:</b> {{ (post.assigned)?post.assigned:'N/A' }}</li>
                  <li><b>Source:</b> {{ (post.lead_source)?post.lead_source:'N/A' }}</li>
                  <ng-container *ngFor="let custom_field of post.custom_fields">
                    <li *ngIf=custom_field.value>
                      <b>{{ custom_field.title }}:</b> {{ custom_field.value }}
                    </li>
                  </ng-container>
                </ul>
              </ion-label>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </div>
    </ng-container>
    <ng-container *ngIf="posts.length == 0 && ajaxLoader">
      <ion-list class="mb-2 rounded-md">
        <ion-item class="remove_inner_bottom">
          <ion-label>
            <h3>
              <ion-skeleton-text class="mr-2 rounded" [animated]="true" style="width: 5%; display: inline-block;"></ion-skeleton-text>
              <ion-skeleton-text class="rounded" [animated]="true" style="width: 80%; display: inline-block;"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text class="mr-2 rounded" [animated]="true" style="width: 5%; display: inline-block;"></ion-skeleton-text>
              <ion-skeleton-text class="rounded" [animated]="true" style="width: 30%; display: inline-block;"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text class="mr-2 rounded" [animated]="true" style="width: 5%; display: inline-block;"></ion-skeleton-text>
              <ion-skeleton-text class="rounded" [animated]="true" style="width: 60%; display: inline-block;"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text class="mr-2 rounded-md" [animated]="true" style="height: 24px; width: 10%; display: inline-block;"></ion-skeleton-text>
              <ion-skeleton-text class="mr-2 rounded-md" [animated]="true" style="height: 24px; width: 10%; display: inline-block;"></ion-skeleton-text>
              <ion-skeleton-text class="mr-2 rounded-md" [animated]="true" style="height: 24px; width: 10%; display: inline-block;"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-list class="mb-2 rounded-md">
        <ion-item class="remove_inner_bottom">
          <ion-label>
            <h3>
              <ion-skeleton-text class="mr-2 rounded" [animated]="true" style="width: 5%; display: inline-block;"></ion-skeleton-text>
              <ion-skeleton-text class="rounded" [animated]="true" style="width: 70%; display: inline-block;"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text class="mr-2 rounded" [animated]="true" style="width: 5%; display: inline-block;"></ion-skeleton-text>
              <ion-skeleton-text class="rounded" [animated]="true" style="width: 40%; display: inline-block;"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text class="mr-2 rounded" [animated]="true" style="width: 5%; display: inline-block;"></ion-skeleton-text>
              <ion-skeleton-text class="rounded" [animated]="true" style="width: 60%; display: inline-block;"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text class="mr-2 rounded-md" [animated]="true" style="height: 24px; width: 10%; display: inline-block;"></ion-skeleton-text>
              <ion-skeleton-text class="mr-2 rounded-md" [animated]="true" style="height: 24px; width: 10%; display: inline-block;"></ion-skeleton-text>
              <ion-skeleton-text class="mr-2 rounded-md" [animated]="true" style="height: 24px; width: 10%; display: inline-block;"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-list class="mb-2 rounded-md">
        <ion-item class="remove_inner_bottom">
          <ion-label>
            <h3>
              <ion-skeleton-text class="mr-2 rounded" [animated]="true" style="width: 5%; display: inline-block;"></ion-skeleton-text>
              <ion-skeleton-text class="rounded" [animated]="true" style="width: 50%; display: inline-block;"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text class="mr-2 rounded" [animated]="true" style="width: 5%; display: inline-block;"></ion-skeleton-text>
              <ion-skeleton-text class="rounded" [animated]="true" style="width: 80%; display: inline-block;"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text class="mr-2 rounded" [animated]="true" style="width: 5%; display: inline-block;"></ion-skeleton-text>
              <ion-skeleton-text class="rounded" [animated]="true" style="width: 60%; display: inline-block;"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text class="mr-2 rounded-md" [animated]="true" style="height: 24px; width: 10%; display: inline-block;"></ion-skeleton-text>
              <ion-skeleton-text class="mr-2 rounded-md" [animated]="true" style="height: 24px; width: 10%; display: inline-block;"></ion-skeleton-text>
              <ion-skeleton-text class="mr-2 rounded-md" [animated]="true" style="height: 24px; width: 10%; display: inline-block;"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-list class="rounded-md">
        <ion-item class="remove_inner_bottom">
          <ion-label>
            <h3>
              <ion-skeleton-text class="mr-2 rounded" [animated]="true" style="width: 5%; display: inline-block;"></ion-skeleton-text>
              <ion-skeleton-text class="rounded" [animated]="true" style="width: 80%; display: inline-block;"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text class="mr-2 rounded" [animated]="true" style="width: 5%; display: inline-block;"></ion-skeleton-text>
              <ion-skeleton-text class="rounded" [animated]="true" style="width: 30%; display: inline-block;"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text class="mr-2 rounded" [animated]="true" style="width: 5%; display: inline-block;"></ion-skeleton-text>
              <ion-skeleton-text class="rounded" [animated]="true" style="width: 60%; display: inline-block;"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text class="mr-2 rounded-md" [animated]="true" style="height: 24px; width: 10%; display: inline-block;"></ion-skeleton-text>
              <ion-skeleton-text class="mr-2 rounded-md" [animated]="true" style="height: 24px; width: 10%; display: inline-block;"></ion-skeleton-text>
              <ion-skeleton-text class="mr-2 rounded-md" [animated]="true" style="height: 24px; width: 10%; display: inline-block;"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-container>
    <ng-container *ngIf="posts.length == 0 && !ajaxLoader">
      <div class="text-center"><span> No Records Found </span> </div>
    </ng-container>
  </div>
</ion-content>

<ion-footer *ngIf="posts.length > 0 && !ajaxLoader" [translucent]="true" [ngClass]="ajaxLoader ? 'pointer-events-none' : ''"  class="ion-footer-element-section" (click)="$event.stopPropagation()">
  <ion-item class="pagination-wrap" lines="none">
    <pagination-controls color="tertiary" class="paginator paginator-element" previousLabel="" nextLabel="" [maxSize]=5
      (pageChange)="onChange($event)" (pageBoundsCorrection)="onChange($event)" slot="start"></pagination-controls>

    <div class="page-element">
      <ion-input fill="outline" type="number" label="Page" (ionChange)="goToPage($event)" [(ngModel)]="currentPage"
        labelPlacement="floating" placeholder="Enter Page number"></ion-input>
    </div>

  </ion-item>
</ion-footer>

<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="setOpen(false)"><ion-icon name="arrow-back"></ion-icon></ion-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Filter</ion-title>
        <ion-buttons slot="end">
          <!-- <ion-button (click)="setOpen(false)">Clear</ion-button> -->
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <div class="ion-padding page_wrapper !bg-white" *ngIf="leadFilters">
      <ion-content *ngIf="!showFilterElement" class="rounded-xl overflow-hidden ">
        <div class="cover">
          <ng-container *ngIf="appliedFilters.length > 0">
            <div class="top-bar flex justify-between">
              <h5>Applied Filters</h5>
              <div></div>
            </div>
            <ul>
              <li *ngFor="let filter of appliedFilters; index as i">
                <ion-label>{{ filter.filter_title}} : </ion-label>  {{ filter.contains }}
                <ion-button (click)="removeFilterItem(filter,i)" class="cta-edit-element cta-space-element">
                  <span class="trash-sharp mt-1">
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g filter="url(#filter0_d_1_256)">
                      <rect x="4" width="24" height="24" rx="5" fill="#DC3545"/>
                      </g>
                      <path d="M18.4864 6.65578L17.8603 6H14.1488L13.5227 6.65578H11V7.97587H21V6.65578H18.4864Z" fill="white"/>
                      <path d="M11.7441 8.59758H20.2559V16.7566C20.2559 17.0863 20.1163 17.4026 19.8679 17.6358C19.6194 17.869 19.2824 18 18.931 18H13.069C12.7176 18 12.3806 17.869 12.1322 17.6358C11.8837 17.4026 11.7441 17.0863 11.7441 16.7566V8.59758Z" fill="white"/>
                      <defs>
                      <filter id="filter0_d_1_256" x="0" y="0" width="32" height="32" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                      <feOffset dy="4"/>
                      <feGaussianBlur stdDeviation="2"/>
                      <feComposite in2="hardAlpha" operator="out"/>
                      <feColorMatrix type="matrix" values="0 0 0 0 0.862745 0 0 0 0 0.207843 0 0 0 0 0.270588 0 0 0 0.25 0"/>
                      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_256"/>
                      <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1_256" result="shape"/>
                      </filter>
                      </defs>
                      </svg>

                  </span>
                </ion-button>
              </li>
            </ul>
          </ng-container>

          <div class="search-section-element mb-5 shadow-sm rounded-lg">
            <ion-searchbar [(ngModel)]="searchText" class="py-0"></ion-searchbar>

            <!-- <ion-input labelPlacement="stacked" label="Search" placeholder="Search filters" [(ngModel)]="searchText" fill="outline">
                <ion-button fill="clear" slot="end" aria-label="Show/hide">
                  <ion-icon name="search" slot="icon-only" aria-hidden="true"></ion-icon>
                </ion-button>
              </ion-input> -->
          </div>

          <ul class="filter-group list-group border-line-layout mt-4 filter-modal" *ngFor="let filterGroup of leadFilters">
            <h5 class=" text-base font-bold font-['Poppins'] leading-normal mb-5" *ngIf="!searchText">{{ filterGroup.filter_group.name }}</h5>
            <ng-container *ngFor="let filter of filterGroup.filter_group.filters | filter: searchText">
              <li class="list-group-item cursor-pointer shadow-sm text-sm font-normal font-['Poppins'] leading-tight !py-5 rounded-lg" (click)="setCurrentFilterElement(filter.filter_name)">{{
                filter.filter_title }}</li>
            </ng-container>
          </ul>
        </div>
      </ion-content>


      <ng-container *ngIf="showFilterElement">
        <div class="border-line-layout cst-filter-layout">
          <h5 class="border-line-layout-label">{{ currentFilterElement.filter_title }}</h5>

          <div class="text-end ion-margin-bottom">
            <a class="btn" *ngIf="appliedFilters!=undefined && appliedFilters?.length!=0"
              (click)="showAppliedFiltersFunc()"><ion-icon name="arrow-back-outline"></ion-icon> Back</a>
            <a class="btn back-btn-element" *ngIf="appliedFilters==undefined || appliedFilters?.length===0"
              (click)="showLeadFiltersFunc()">
              <ion-icon name="arrow-back-outline"></ion-icon>
              Back</a>
          </div>

          <!-- input -->
          <form [formGroup]="inputInfo" (ngSubmit)="infoSubmit(inputInfo.value)"
            *ngIf="currentFilterElement.filter_type=='input'" autocomplete="off">
            <ion-radio-group value="custom-checked" formControlName="filter_selected">



              <div class="form-group form-group-element">
                <ion-radio value="contains" aria-label="Custom" (click)="containsCheckedFunc()">Includes</ion-radio>
                <div class="search-element-section">
                  <ion-input formControlName="contains" *ngIf="containsChecked" label="Includes"
                    label-placement="floating" fill="outline" placeholder="Includes"></ion-input>
                </div>
              </div>
              <div class="form-group form-group-element">
                <ion-radio value="doesnt_contain" aria-label="Custom" (click)="doesntContainCheckedFunc()">Doesn't
                  include</ion-radio>
                <div class="search-element-section">

                  <ion-input formControlName="doesnt_contain" *ngIf="doesntContainChecked" label="Doesn't include"
                    label-placement="floating" fill="outline" placeholder="Doesn't include"></ion-input>
                </div>
              </div>
              <div class="form-group form-group-element">
                <ion-radio value="is_known" aria-label="Custom" (click)="isKnownOrUnknownCheckedFunc()">is
                  known</ion-radio>
              </div>
              <div class="form-group form-group-element">
                <ion-radio value="is_unknown" aria-label="Custom" (click)="isKnownOrUnknownCheckedFunc()">is
                  unknown</ion-radio>
              </div>
            </ion-radio-group>
            <ion-input type="hidden" formControlName="filter_name" hidden="true" class="hidden-input"></ion-input>
            <ion-input type="hidden" formControlName="filter_title" hidden="true" class="hidden-input"></ion-input>
            <ion-button slot="end" expand="block" type="submit" color="tertiary">Apply Filter</ion-button>
          </form>

          <!-- Form to be shown when filter type is boolean -->
          <form *ngIf="currentFilterElement.filter_type=='boolean'" (ngSubmit)="infoSubmit(booleanInfo.value)"
            [formGroup]="booleanInfo">
            <ion-list>
              <ion-item>
                <ion-select aria-label="currentFilterElement.filter_title" formControlName="filter_value"
                  [placeholder]="'Select '+currentFilterElement.filter_title">
                  <ion-select-option value="1">Yes</ion-select-option>
                  <ion-select-option value="0">No</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>

            <ion-input type="hidden" formControlName="filter_name" hidden="true" class="hidden-input"></ion-input>
            <ion-input type="hidden" formControlName="filter_title" hidden="true" class="hidden-input"></ion-input>
            <ion-button slot="end" expand="block" type="submit" color="tertiary">Apply Filter</ion-button>
          </form>

          <!-- Form to be shown when filter type is dropdown -->
          <form *ngIf="currentFilterElement.filter_type=='dropdown'" (ngSubmit)="infoSubmit(dropdownInfo.value)"
            [formGroup]="dropdownInfo">
            <div class="form-group">
              <div class="input-group">
                <ng-container [ngSwitch]="currentFilterElement.filter_name">
                  <ng-container *ngSwitchCase="'leads.assigned_to'">
                    <ion-select
                      *ngIf="currentFilterElement.filter_name=='leads.assigned_to' && this.membersOptions.length > 0"
                      aria-label="currentFilterElement.filter_title" formControlName="filter_value"
                      [placeholder]="'Select '+currentFilterElement.filter_title">
                      <ion-select-option *ngFor="let option of membersOptions"
                        value="{{ option.value }}">{{option.name}}</ion-select-option>
                    </ion-select>
                  </ng-container>

                  <ng-container *ngSwitchCase="'leads.lead_position_id'">
                    <ion-select *ngIf="currentFilterElement.filter_name=='leads.lead_position_id'"
                      aria-label="currentFilterElement.filter_title" formControlName="filter_value"
                      [placeholder]="'Select '+currentFilterElement.filter_title">
                      <ion-select-option *ngFor="let option of leadPositionOptions"
                        value="{{ option.value }}">{{option.name}}</ion-select-option>
                    </ion-select>
                  </ng-container>
                  <ng-container *ngSwitchCase="'leads.lead_position_stage_id'">
                    <ion-select *ngIf="currentFilterElement.filter_name=='leads.lead_position_stage_id'"
                      aria-label="currentFilterElement.filter_title" formControlName="filter_value"
                      [placeholder]="'Select '+currentFilterElement.filter_title">
                      <ion-select-option *ngFor="let option of leadPositionStageOptions"
                        value="{{ option.value }}">{{option.name}}</ion-select-option>
                    </ion-select>
                  </ng-container>
                  <ng-container *ngSwitchDefault>
                    <ion-select aria-label="currentFilterElement.filter_title" formControlName="filter_value"
                      [placeholder]="'Select '+currentFilterElement.filter_title">
                      <ion-select-option *ngFor="let option of currentFilterElement.options"
                        value="{{ option }}">{{option}}</ion-select-option>
                    </ion-select>
                  </ng-container>
                </ng-container>
              </div>
            </div>

            <ion-input type="hidden" formControlName="filter_name" hidden="true" class="hidden-input"></ion-input>
            <ion-input type="hidden" formControlName="filter_title" hidden="true" class="hidden-input"></ion-input>
            <ion-button slot="end" expand="block" type="submit" color="tertiary">Apply Filter</ion-button>
          </form>

          <!-- Form to be shown when filter type is Year -->
          <form *ngIf="currentFilterElement.filter_type=='year'" (ngSubmit)="infoSubmit(yearInfo.value)"
            [formGroup]="yearInfo">
            <ion-item>
              <ion-input class="ion-margin-top" formControlName="filter_value" [max]="currentYear" min="1800"
                label="Year Founded" label-placement="year" fill="outline"
                [placeholder]="'Enter text '+currentFilterElement.filter_title"></ion-input>
            </ion-item>

            <ion-input type="hidden" formControlName="filter_name" hidden="true" class="hidden-input"></ion-input>
            <ion-input type="hidden" formControlName="filter_title" hidden="true" class="hidden-input"></ion-input>
            <ion-button slot="end" expand="block" type="submit" color="tertiary">Apply Filter</ion-button>
          </form>

          <!-- Form to be shown when filter type is Date -->
          <form *ngIf="currentFilterElement.filter_type=='date'" (ngSubmit)="infoSubmit(dateInfo.value)"
            [formGroup]="dateInfo" class="taskForm cst-radio">
            <ion-radio-group value="custom-checked" formControlName="filter_selected">
              <div class="form-group form-group-element">
                <ion-radio value="is" aria-label="filter_selected" (click)="dateIsCheckedFunc()">is</ion-radio>
                <ion-select *ngIf="dateIsChecked" formControlName="filter_value"
                  aria-label="currentFilterElement.filter_title"
                  [placeholder]="'Select '+currentFilterElement.filter_title">
                  <ion-select-option *ngFor="let opt of dateOptions"
                    value="{{ opt.id }}">{{opt.text}}</ion-select-option>
                </ion-select>
              </div>
              <div class="form-group form-group-element">
                <ion-radio value="is_equal_to" aria-label="filter_selected" (click)="dateIsEqualToCheckedFunc()">is
                  equal to</ion-radio>
                <div *ngIf="dateIsEqualToChecked">
                  <ion-datetime presentation="date" (ionChange)="datePick($event,'is_equal_to')"></ion-datetime>
                </div>
              </div>
              <div class="form-group form-group-element">
                <ion-radio value="is_before" aria-label="filter_selected" (click)="dateIsBeforeCheckedFunc()">is
                  before</ion-radio>
                <ion-datetime *ngIf="dateIsBeforeChecked" presentation="date"
                  (ionChange)="datePick($event,'is_before')"></ion-datetime>
              </div>
              <div class="form-group form-group-element">
                <ion-radio value="is_after" aria-label="filter_selected" (click)="dateIsAfterCheckedFunc()">is
                  after</ion-radio>
                <ion-datetime *ngIf="dateIsAfterChecked" presentation="date"
                  (ionChange)="datePick($event,'is_after')"></ion-datetime>
              </div>
              <div class="form-group form-group-element">
                <ion-radio value="is_between" aria-label="filter_selected" (click)="dateIsBetweenCheckedFunc()">is
                  between</ion-radio>
                <div *ngIf="dateIsBetweenChecked">

                  <div class="date-picke-label-element">
                    <ion-label> <ion-badge color="tertiary">Start Date</ion-badge></ion-label>
                    <ion-datetime presentation="date" (ionChange)="datePick($event,'start_date')"></ion-datetime>
                  </div>

                  <div class="date-picke-label-element">
                    <ion-label> <ion-badge color="tertiary">End Date</ion-badge></ion-label>
                    <ion-datetime presentation="date" (ionChange)="datePick($event,'end_date')"></ion-datetime>
                  </div>

                </div>
              </div>
              <div class="form-group form-group-element">
                <ion-radio value="is_known" aria-label="filter_selected" (click)="dateIsKnownCheckedFunc()"
                  (ionChange)="datePick($event,'is_known')">is known</ion-radio>
              </div>
              <div class="form-group form-group-element">
                <ion-radio value="is_unknown" aria-label="filter_selected" (click)="dateIsUnknownCheckedFunc()"
                  (ionChange)="datePick($event,'is_unknown')">is unknown</ion-radio>
              </div>
            </ion-radio-group>

            <ion-input type="hidden" formControlName="filter_name" hidden="true" class="hidden-input"></ion-input>
            <ion-input type="hidden" formControlName="filter_title" hidden="true" class="hidden-input"></ion-input>
            <ion-button slot="end" expand="block" type="submit" color="tertiary">Apply Filter</ion-button>
          </form>
          <!-- <form *ngIf="currentFilterElement.filter_type=='slider'" (ngSubmit)="infoSubmit(sliderInfo.value)" [formGroup]="sliderInfo">
            <div class="form-group d-block">
                <ngx-slider [(value)]="minPriceValue" [(highValue)]="maxPriceValue" [options]="priceOptions" (userChangeEnd)="changePrice($event)"></ngx-slider>
            </div>

            <input type="hidden" formControlName="filter_name">
            <input type="hidden" formControlName="filter_title">
            <input type="hidden" formControlName="filter_min_value">
            <input type="hidden" formControlName="filter_max_value">
            <button type="submit" class="btn btn-primary" [disabled]="sliderInfo.invalid">Apply Filter</button>
        </form> -->
        </div>
      </ng-container>
    </div>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="addLeadModal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel(false)"><ion-icon name="arrow-back"></ion-icon></ion-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Add Lead</ion-title>
        <ion-buttons slot="end">
          <!-- <ion-button (click)="cancel(false)">Close</ion-button> -->
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <form [formGroup]="leadAddForm" (ngSubmit)="addNewLeadData(leadAddForm.value)">
        <ion-label class="heading-label">Lead Information</ion-label>

        <ion-select *ngIf="this.membersOptions.length > 0"  label="Assigned To" label-placement="floating" fill="outline" formControlName="lead_assign_to">
          <ion-select-option *ngFor="let option of membersOptions" value="{{ option.value }}">{{option.name}}</ion-select-option>
        </ion-select>

        <ion-input formControlName="company_name" label="Company Name" label-placement="floating" fill="outline" placeholder="Company Name"></ion-input>
        <ion-input formControlName="lead_title" label="Title" label-placement="floating" fill="outline" placeholder="Title"></ion-input>
        <ion-input formControlName="price" label="Price {{tokenStorage.formatPrice(0, true)}}" label-placement="floating" fill="outline" placeholder="Price" type="number"></ion-input>

        <ion-label class="heading-label">Contact Information</ion-label>
        <div class="element-check-box" formArrayName="lead_contacts">
          <div class="input-cover">
            <ion-input formControlName="first_name" label="First Name*" label-placement="floating" fill="outline" placeholder="First Name*"></ion-input>
            <span class="text-danger" *ngIf="leadAddFormSubmit && leadAddForm.controls['lead_contacts'].get('first_name')?.errors?.['required']">This field is required</span>
          </div>

          <ion-input formControlName="last_name" label="Last Name" label-placement="floating" fill="outline" placeholder="Last Name"></ion-input>

          <div class="input-cover">
            <ion-input formControlName="email" label="Email" label-placement="floating" fill="outline" placeholder="Email" type="email"></ion-input>
            <span class="text-danger" *ngIf="leadAddFormSubmit && leadAddForm.controls['lead_contacts'].get('email')?.errors?.['email']">Email must be a valid email address</span>
          </div>

          <div class="input-cover">
            <ion-input formControlName="mobile_number" label="Mobile Number" label-placement="floating" fill="outline" placeholder="Mobile Number"></ion-input>
            <span class="text-danger" *ngIf="leadAddFormSubmit && leadAddForm.controls['lead_contacts'].get('mobile_number')?.errors?.['pattern']">Please, Enter 10 digit Mobile Number</span>
          </div>
        </div>

        <ion-label class="heading-label">Custom Fields</ion-label>
        <ng-container *ngIf="leadCustomFields">
          <div *ngFor="let getfield of leadCustomFields.leads; index as i">
              <div [ngSwitch]="getfield.field_type" *ngIf="fieldLength == leadCustomFields.leads.length">
                <div class="outline-none-element cust-checkbox-container input-cover" *ngSwitchCase="'checkboxes'">
                    <ion-label class=" ">{{ getfield.title }}</ion-label>
                    <div class="element-check-box" formArrayName="lead_custom_{{getfield.id}}">
                      <ion-checkbox *ngFor="let option of getfield.options" formControlName="{{option.value}}">{{ option.label }}</ion-checkbox>
                    </div>
                    <span class="text-danger" *ngIf="leadAddFormSubmit && leadAddForm.controls['lead_custom_'+getfield.id]?.errors?.['required']">This field is required</span>
                </div>

                <div class="single_checkbox_element cust-checkbox-container input-cover" *ngSwitchCase="'single_checkbox'">
                  <ion-label class="single_checkbox_label">{{ getfield.title }}</ion-label>
                  <ion-checkbox formControlName="lead_custom_{{getfield.id}}">{{ getfield.title }}</ion-checkbox>
                  <span class="text-danger" *ngIf="leadAddFormSubmit && leadAddForm.controls['lead_custom_'+getfield.id]?.errors?.['required']">This field is required</span>
                </div>

                <div *ngSwitchCase="'text'" class="input-cover">
                    <ion-input formControlName="lead_custom_{{getfield.id}}" [label]="(getfield.required)? getfield.title+' * ':getfield.title" label-placement="floating" fill="outline" [placeholder]="getfield.title"></ion-input>
                    <span class="text-danger" *ngIf="leadAddFormSubmit && leadAddForm.controls['lead_custom_'+getfield.id]?.errors?.['required']">This field is required</span>
                </div>

                <div *ngSwitchCase="'select'" class="input-cover">
                  <ion-select formControlName="lead_custom_{{getfield.id}}" [label]="(getfield.required)? getfield.title+' * ':getfield.title" label-placement="floating" fill="outline">
                    <ion-select-option *ngFor="let option of getfield.options" [value]="option.value">
                      {{ option.label }}
                    </ion-select-option>
                  </ion-select>
                  <span class="text-danger" *ngIf="leadAddFormSubmit && leadAddForm.controls['lead_custom_'+getfield.id]?.errors?.['required']">This field is required</span>
                </div>

                <div *ngSwitchCase="'textarea'" class="input-cover">
                    <ion-textarea formControlName="lead_custom_{{getfield.id}}" [label]="(getfield.required)? getfield.title+' * ':getfield.title" label-placement="floating" fill="outline" [placeholder]="getfield.title" rows="6"></ion-textarea>
                    <span class="text-danger" *ngIf="leadAddFormSubmit && leadAddForm.controls['lead_custom_'+getfield.id]?.errors?.['required']">This field is required</span>
                </div>

                <div class="radiobuttons_element cust-checkbox-container" *ngSwitchCase="'radiobuttons'">
                  <ion-label>{{ getfield.title }}</ion-label>
                  <div class="input-cover">
                    <ion-radio-group formControlName="lead_custom_{{getfield.id}}">
                      <ion-radio *ngFor="let option of getfield.options" value="{{ option.value }}">{{ option.label }}</ion-radio><br />
                    </ion-radio-group>
                    <span class="text-danger" *ngIf="leadAddFormSubmit && leadAddForm.controls['lead_custom_'+getfield.id]?.errors?.['required']">This field is required</span>
                  </div>
                </div>

                <div *ngSwitchCase="'date'" class="input-cover">
                  <ion-input formControlName="lead_custom_{{getfield.id}}" type="date" [label]="(getfield.required)? getfield.title+' * ':getfield.title" label-placement="floating" fill="outline" placeholder="Select date"></ion-input>
                  <span class="text-danger" *ngIf="leadAddFormSubmit && leadAddForm.controls['lead_custom_'+getfield.id]?.errors?.['required']">This field is required</span>
                </div>

                <div *ngSwitchCase="'file'" class="input-cover">
                  <ion-input formControlName="lead_custom_{{getfield.id}}" type="file" [label]="(getfield.required)? getfield.title+' * ':getfield.title" label-placement="floating" fill="outline" placeholder="Select file"></ion-input>
                  <span class="text-danger" *ngIf="leadAddFormSubmit && leadAddForm.controls['lead_custom_'+getfield.id]?.errors?.['required']">This field is required</span>
                </div>
                <div *ngSwitchDefault>
                  <ion-input [formControlName]="getfield.formControlName" class="hidden-input" type="hidden"></ion-input>
                </div>
              </div>
          </div>
        </ng-container>

        <ion-button expand="block" type="submit" color="{{ ajaxCall1?'primary':'tertiary' }}" [disabled]="ajaxCall1">Save <ion-spinner name="crescent" *ngIf="ajaxCall1"></ion-spinner></ion-button>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>
