<app-header #ajaxloder [ajaxcall]="ajaxCall"></app-header>

<ion-content [fullscreen]="true" contentId="quotes-content">
  <div class="page_wrapper">
    <div class="ion-toolbar-element flex justify-between items-center mb-3">
      <span slot="start" class="font-bold font-['Poppins'] leading-normal">Quotes</span>
    </div>

    <ng-container *ngIf="estimate.length > 0 && !ajaxLoader">
      <div class="list_wrap">
        <ion-list class="accrdion-element-container">
            <ion-item class="ion-accordion" *ngFor="let post of estimate | paginate : { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: count }; let i = index">
              <ion-label class="p-2.5 mb-0">
                <div class="grid grid-cols-2">
                  <div class="accrdion-element-item">
                    <span *ngIf="post.quote_reference;else defaultId" style="width: 170px;font-weight: 500;"><strong>QUOTE</strong> #{{ post.quote_reference }}</span>
                    <ng-template #defaultId>
                        <span style="width: 170px;font-weight: 500;"><strong>QUOTE</strong> #{{ helper.addLeadingZeros(post.quote_increment, 6) }}</span>
                    </ng-template>
                  </div>
         
                    <div class="justify-end text-end">
                      <span class="badge me-0" [ngClass]="{'badge-warning': post.status === 'draft','badge-danger': post.status === 'messaged', 'badge-success': post.status === 'accepted', 'badge-indigo': post.status === 'sent'}">
                        <span *ngIf="post.status === 'sent'">Sent</span>
                        <span *ngIf="post.status === 'accepted'">Accepted</span>
                        <span *ngIf="post.status === 'draft'">Draft</span>
                        <span *ngIf="post.status === 'messaged'">Messaged</span>
                      </span>
                      <div><span class="text-xs mt-2 font-medium">{{ post.create}}</span></div>
                    </div>
                </div>
                
                <hr class="my-2"/>
                <div>
                  <div class="accrdion-element-item" *ngIf="post.lead_id">
                    <span>
                      <strong>Lead</strong>
                      {{ '#'+post.lead_id }}
                    </span>
                  </div>
                  <div class="accrdion-element-item">
                    <span>
                      <strong>Quote Date</strong>
                      {{ helper.dateFrom(post.estimate_date) }}
                    </span>
                  </div>
                  <div class="accrdion-element-item">
                    <span>
                      <strong>Valid Until</strong>
                      {{ helper.dateFrom(post.valid_until) }}
                    </span>
                  </div>
                  <div class="accrdion-element-item" *ngIf="post.assigned_to">
                    <span>
                      <strong>Assigned To</strong>
                      {{ post.assigned_to }}
                    </span>
                  </div>
                  <div class="accrdion-element-item" *ngIf="post.client_name">
                    <span>
                      <strong>Name</strong>
                      {{ post.client_name }}  <span *ngIf="post.lead_company_name">({{ post.lead_company_name }})</span>
                    </span>
                  </div>
                </div>

                <div class="top-action">
                  <div  class="">
                    <ion-button tooltip="Edit Lead" flow="right" class="cta-edit-element cta-space-element" [routerLink]="['view', post.id]"
                      color="" size="">
                      <span class="pencil mt-1">
                        <svg width="48" height="38" viewBox="0 0 48 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g filter="url(#filter0_d_1_264)">
                          <rect x="4" width="40" height="30" rx="5" fill="#007BFF"/>
                          </g>
                          <path d="M24.4 11.1945L27.77 14.5345L22.26 20.0045L18 20.9845L18.9 16.6645L24.4 11.1945Z" fill="white"/>
                          <path d="M29.74 12.5445L28.74 13.6145L25.37 10.2745L26.45 9.19452C26.5865 9.06943 26.7649 9 26.95 9C27.1351 9 27.3135 9.06943 27.45 9.19452L29.79 11.5245C29.8552 11.594 29.9058 11.6759 29.9387 11.7653C29.9715 11.8548 29.9861 11.9499 29.9814 12.0451C29.9767 12.1403 29.953 12.2335 29.9115 12.3193C29.87 12.4051 29.8117 12.4817 29.74 12.5445Z" fill="white"/>
                          <defs>
                          <filter id="filter0_d_1_264" x="0" y="0" width="48" height="38" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                          <feOffset dy="4"/>
                          <feGaussianBlur stdDeviation="2"/>
                          <feComposite in2="hardAlpha" operator="out"/>
                          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0.482353 0 0 0 0 1 0 0 0 0.25 0"/>
                          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_264"/>
                          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1_264" result="shape"/>
                          </filter>
                          </defs>
                          </svg>                          
                      </span>
                    </ion-button>

                    <ion-button tooltip="Delete Lead" flow="right" (click)="$event.stopPropagation()"  class="cta-edit-element cta-space-element" size="">
                      <span class="trash-sharp mt-1">
                        <svg width="48" height="38" viewBox="0 0 48 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g filter="url(#filter0_d_1_256)">
                          <rect x="4" width="40" height="30" rx="5" fill="#DC3545"/>
                          </g>
                          <path d="M26.4864 9.65578L25.8603 9H22.1488L21.5227 9.65578H19V10.9759H29V9.65578H26.4864Z" fill="white"/>
                          <path d="M19.7441 11.5976H28.2559V19.7566C28.2559 20.0863 28.1163 20.4026 27.8679 20.6358C27.6194 20.869 27.2824 21 26.931 21H21.069C20.7176 21 20.3806 20.869 20.1322 20.6358C19.8837 20.4026 19.7441 20.0863 19.7441 19.7566V11.5976Z" fill="white"/>
                          <defs>
                          <filter id="filter0_d_1_256" x="0" y="0" width="48" height="38" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                          <feOffset dy="4"/>
                          <feGaussianBlur stdDeviation="2"/>
                          <feComposite in2="hardAlpha" operator="out"/>
                          <feColorMatrix type="matrix" values="0 0 0 0 0.862745 0 0 0 0 0.207843 0 0 0 0 0.270588 0 0 0 0.25 0"/>
                          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_256"/>
                          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1_256" result="shape"/>
                          </filter>
                          </defs>
                          </svg>
                      </span>
                    </ion-button>

                    <ion-toast trigger="open-toast-{{post.lead_id}}" position="top" message="No Action has been taken on this Record" [duration]="3000" icon="information"></ion-toast>
                    <ion-button tooltip="No Action has been taken on this Record" flow="right" class="cta-edit-element cta-space-element" (click)="$event.stopPropagation()" *ngIf="post.is_lead_action" size="" id="open-toast-{{post.lead_id}}" >
                      <span class="info mt-1">
                        <svg width="48" height="38" viewBox="0 0 48 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g filter="url(#filter0_d_231_69)">
                          <rect x="4" width="40" height="30" rx="5" fill="#FFC513"/>
                          </g>
                          <path d="M20 21V19.5344H23.3389V21H20ZM20.4726 14.1163V12.6506H24.8454V14.1163H20.4726ZM23.9596 11.3275C23.6906 11.3267 23.4302 11.2329 23.2226 11.0618C23.015 10.8907 22.8731 10.653 22.821 10.3891C22.769 10.1252 22.8099 9.85141 22.9369 9.61429C23.0639 9.37718 23.2691 9.19138 23.5176 9.08849C23.7662 8.98561 24.0427 8.97199 24.3001 9.04997C24.5575 9.12794 24.78 9.29268 24.9297 9.51617C25.0794 9.73967 25.147 10.0081 25.1211 10.2758C25.0952 10.5436 24.9773 10.7941 24.7876 10.9847C24.6806 11.0957 24.5518 11.1834 24.4093 11.2424C24.2668 11.3014 24.1137 11.3304 23.9596 11.3275ZM23.1809 21V13.1232H24.8497V21H23.1809ZM24.6931 21V19.5344H27.4184V21H24.6931Z" fill="#2B2B2B" stroke="#2B2B2B" stroke-width="0.3"/>
                          <defs>
                          <filter id="filter0_d_231_69" x="0" y="0" width="48" height="38" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                          <feOffset dy="4"/>
                          <feGaussianBlur stdDeviation="2"/>
                          <feComposite in2="hardAlpha" operator="out"/>
                          <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.772549 0 0 0 0 0.0745098 0 0 0 0.25 0"/>
                          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_231_69"/>
                          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_231_69" result="shape"/>
                          </filter>
                          </defs>
                          </svg>                          
                      </span>
                    </ion-button>
                  </div>
                </div>
               
              </ion-label>
            </ion-item> 
        </ion-list>
      </div>
    </ng-container>
  </div>
</ion-content>

<ion-footer *ngIf="estimate.length > 0 && !ajaxLoader" [translucent]="true" [ngClass]="ajaxLoader ? 'pointer-events-none' : ''"  class="ion-footer-element-section" (click)="$event.stopPropagation()">
  <ion-item class="pagination-wrap" lines="none">
    <pagination-controls color="tertiary" class="paginator paginator-element" previousLabel="" nextLabel="" [maxSize]=5
      (pageChange)="onChange($event)" (pageBoundsCorrection)="onChange($event)" slot="start"></pagination-controls>

    <div class="page-element">
      <ion-input fill="outline" type="number" label="Page" (ionChange)="goToPage($event)" [(ngModel)]="currentPage"
        labelPlacement="floating" placeholder="Enter Page number"></ion-input>
    </div>

  </ion-item>
</ion-footer>