.main-menu ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

.main-menu ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

.main-menu ion-menu.md ion-list {
  padding: 0 0 20px 0;
}

.main-menu ion-menu.md ion-note {
  margin-bottom: 30px;
}

.main-menu ion-menu.md ion-list-header,
.main-menu ion-menu.md ion-note {
  padding-left: 10px;
}

// .main-menu ion-menu.md ion-list#inbox-list {
//   border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
// }

.main-menu ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

.main-menu ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: #757575;

  min-height: 26px;
}

.main-menu ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

/*.main-menu ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}*/

.main-menu ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

.main-menu ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

.main-menu ion-menu.md ion-item ion-label {
  font-weight: 500;
}

.main-menu ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

.main-menu ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

.main-menu ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

.main-menu ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

.main-menu ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

.main-menu ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

.main-menu ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

.main-menu ion-menu.ios ion-list-header,
.main-menu ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

.main-menu ion-menu.ios ion-note {
  margin-bottom: 8px;
}

.main-menu ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

.main-menu ion-item.selected {
  --color: var(--ion-color-primary);
}

.main-menu ion-thumbnail {
  --size: 40px;
  --border-radius: 6px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-menu-sidebbar{
  @apply shadow-md my-2 rounded-lg;

  ion-label{
    @apply text-base font-medium font-['Poppins'] leading-normal;
  }
}
::ng-deep .sign-out{
  @apply mx-2.5 #{!important};
}
::ng-deep .button-native{
  @apply m-0 py-4 #{!important};
}
