<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" class="main-menu" type="overlay">
      <ion-header>
        <ion-item>
          <ion-menu-toggle slot="start" class="menu-button close">
            <span class="close">
              <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="30" height="30" rx="10" fill="white"/>
                <path d="M18.75 11.25L11.25 18.75" stroke="#2B2B2B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M18.75 18.75L11.25 11.25" stroke="#2B2B2B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                
                
            </span>
          </ion-menu-toggle>
          <ion-label>
            <ion-list-header class="ion-text-center">Menu</ion-list-header>
          </ion-label>
        </ion-item>
      </ion-header>

      <ion-content>
        <ion-list id="inbox-list">
          <ion-card>
            <ion-menu-toggle auto-hide="false">
              <ion-item routerDirection="root" routerLink="/quotes" lines="none" detail="false" routerLinkActive="selected">
                <ion-thumbnail class="bg-pink" slot="start">
                  <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.5 18.94"><g id="dashboard"><rect x="0.75" y="0.75" width="20" height="14.9" rx="4.09" style="fill:none;stroke:#243a57;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px"/><line x1="13.09" y1="18.19" x2="8.41" y2="18.19" style="fill:none;stroke:#243a57;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px"/></g></svg>
                </ion-thumbnail>

                <ion-label>Quotes</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-card>
          <ion-card>
            <ion-menu-toggle auto-hide="false">
              <ion-item routerDirection="root" routerLink="/leads/listing" lines="none" detail="false" routerLinkActive="selected">
                <ion-thumbnail class="bg-blue" slot="start">
                  <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.5 20.96"><g id="Lead"><path d="M60,99.84l-8.53,8.53V114H48.57v-5.66L40,99.84Z" transform="translate(-39.29 -93.82)" style="fill:none;stroke:#243a57;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px"/><circle cx="9.6" cy="3.58" r="2.15" style="fill:none;stroke:#243a57;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px"/><circle cx="15.11" cy="3.54" r="1.23" style="fill:none;stroke:#243a57;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px"/><circle cx="5.12" cy="1.71" r="0.96" style="fill:none;stroke:#243a57;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px"/></g></svg>
                </ion-thumbnail>
                <ion-label>Leads</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-card>
          
          <!-- <ion-card> -->
            <ion-button class="sign-out" color="danger" (click)="userLogout()" expand="block"><ion-icon name="log-out"></ion-icon> Sign Out </ion-button>
          <!-- </ion-card> -->
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
