<ion-card>
  <ion-card-header>
    <ion-item lines="none">
      <ion-card-title slot="start">Lead statistics</ion-card-title>
      <ion-select aria-label="Favorite Fruit" slot="end" value="last_7_days" (ionChange)="triggerEvent($event)">
        <ion-select-option *ngFor="let item Of filterOptions" value="{{ item.id }}">{{ item.text }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card-header>

  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="4"  size-sm="4" class="flex-center">
          
            <ion-thumbnail class="">    
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                    x="0px" y="0px" viewBox="0 0 96 120" enable-background="new 0 0 96 96" xml:space="preserve">
                    <path
                        d="M12,72H4c-1.104,0-2,0.9-2,2v20c0,1.1,0.896,2,2,2h8c1.104,0,2-0.9,2-2V74C14,72.9,13.104,72,12,72z" />
                    <path
                        d="M52,36h-8c-1.104,0-2,0.896-2,2v56c0,1.1,0.896,2,2,2h8c1.1,0,2-0.9,2-2V38C54,36.896,53.1,36,52,36z" />
                    <path
                        d="M72,0h-8c-1.1,0-2,0.896-2,2v92c0,1.1,0.9,2,2,2h8c1.1,0,2-0.9,2-2V2C74,0.896,73.1,0,72,0z" />
                    <path
                        d="M92,36h-8c-1.1,0-2,0.896-2,2v56c0,1.1,0.9,2,2,2h8c1.1,0,2-0.9,2-2V38C94,36.896,93.1,36,92,36z" />
                    <path
                        d="M32,28h-8c-1.104,0-2,0.896-2,2v64c0,1.1,0.896,2,2,2h8c1.104,0,2-0.9,2-2V30C34,28.896,33.104,28,32,28z" />
                </svg>
            </ion-thumbnail>
            <div class="st-detail">
              <ion-badge class="padding">{{leads_states}}</ion-badge>
              <ion-label>Leads</ion-label>
            </div>
        </ion-col>

        <ion-col size="4" size-sm="4" class="flex-center">
          
            <ion-thumbnail class="">    
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                  x="0px" y="0px" viewBox="0 0 96 120" enable-background="new 0 0 96 96" xml:space="preserve">
                  <path
                      d="M12,72H4c-1.104,0-2,0.9-2,2v20c0,1.1,0.896,2,2,2h8c1.104,0,2-0.9,2-2V74C14,72.9,13.104,72,12,72z" />
                  <path
                      d="M52,36h-8c-1.104,0-2,0.896-2,2v56c0,1.1,0.896,2,2,2h8c1.1,0,2-0.9,2-2V38C54,36.896,53.1,36,52,36z" />
                  <path
                      d="M72,0h-8c-1.1,0-2,0.896-2,2v92c0,1.1,0.9,2,2,2h8c1.1,0,2-0.9,2-2V2C74,0.896,73.1,0,72,0z" />
                  <path
                      d="M92,36h-8c-1.1,0-2,0.896-2,2v56c0,1.1,0.9,2,2,2h8c1.1,0,2-0.9,2-2V38C94,36.896,93.1,36,92,36z" />
                  <path
                      d="M32,28h-8c-1.104,0-2,0.896-2,2v64c0,1.1,0.896,2,2,2h8c1.104,0,2-0.9,2-2V30C34,28.896,33.104,28,32,28z" />
              </svg>
            </ion-thumbnail>
            <div class="st-detail">
              <ion-badge class="padding">{{openTasksCount}}</ion-badge>
              <ion-label>Open Tasks</ion-label>
            </div>
        </ion-col>

        <ion-col size="4" size-sm="4" class="flex-center">
          
            <ion-thumbnail class="">    
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                  x="0px" y="0px" viewBox="0 0 96 120" enable-background="new 0 0 96 96" xml:space="preserve">
                  <path
                      d="M12,72H4c-1.104,0-2,0.9-2,2v20c0,1.1,0.896,2,2,2h8c1.104,0,2-0.9,2-2V74C14,72.9,13.104,72,12,72z" />
                  <path
                      d="M52,36h-8c-1.104,0-2,0.896-2,2v56c0,1.1,0.896,2,2,2h8c1.1,0,2-0.9,2-2V38C54,36.896,53.1,36,52,36z" />
                  <path
                      d="M72,0h-8c-1.1,0-2,0.896-2,2v92c0,1.1,0.9,2,2,2h8c1.1,0,2-0.9,2-2V2C74,0.896,73.1,0,72,0z" />
                  <path
                      d="M92,36h-8c-1.1,0-2,0.896-2,2v56c0,1.1,0.9,2,2,2h8c1.1,0,2-0.9,2-2V38C94,36.896,93.1,36,92,36z" />
                  <path
                      d="M32,28h-8c-1.104,0-2,0.896-2,2v64c0,1.1,0.896,2,2,2h8c1.104,0,2-0.9,2-2V30C34,28.896,33.104,28,32,28z" />
              </svg>
            </ion-thumbnail>
            <div class="st-detail">
              <ion-badge class="padding">{{estimatesCount}}</ion-badge>
              <ion-label>Quotes</ion-label>
            </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>