.animetor {
    position: absolute;
    display: none;
  
  }
  
  .main-count {
    position: absolute;
    background: linear-gradient(to right, #f6f6f6 0%, #f7f7f7 20%, #f7f7f7 40%, #efefef 100%);
    background-size: 800px 104px;
    height: 30px;
    width: 80px;
    left: 70px;
    top: 0;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    border-radius: 10px;
  }
  
  .main-dec {
    position: absolute;
    background: linear-gradient(to right, #f6f6f6 0%, #f7f7f7 20%, #f7f7f7 40%, #efefef 100%);
    background-size: 800px 104px;
    height: 22px;
    width: 80px;
    left: 70px;
    bottom: 0;
    z-index: 1;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    border-radius: 10px;
  }
  
  @keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0
    }
  
    100% {
      background-position: 468px 0
    }
  }
  
  .media-icon.color-amber-100 svg {
    fill: #86c7f3;
  }
  
  .media-icon.color-amber-101 svg {
    fill: #FFDC85;
  }
  
  .media-icon.color-amber-102 svg {
    fill: #FFA1B5
  }
  
  .media-icon.color-amber-103 svg {
    fill: #94daa5;
  }
  
  .skeleton-loader-gradient {
    width: 100%;
    height: 15px;
    display: block;
    background: linear-gradient(to right,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 0) 80%),
      lightgray;
    background-repeat: repeat-y;
    background-size: 0 200px;
    background-position: 0 0;
  }
  
  .states_data:empty {
    width: 35px;
    height: 28px;
    cursor: progress;
    background:
      linear-gradient(0.25turn, transparent, #fff, transparent),
      linear-gradient(#eee, #eee),
      radial-gradient(38px circle at 19px 19px, #eee 50%, transparent 51%),
      linear-gradient(#eee, #eee);
    background-repeat: no-repeat;
    background-size: 315px 250px, 315px 180px, 100px 100px, 225px 30px;
    background-position: -315px 0, 0 0, 0px 190px, 50px 195px;
    animation: loading 1.5s infinite;
  }
  
  @keyframes loading {
    to {
      background-position: 35px 0, 0 0, 0 190px, 50px 195px;
    }
  }
  
  .imp-statistics-cst-filter input,
  .imp-statistics-cst-filter button {
    height: 30px;
  }
  
  .imp-statistics-cst-filter input {
    max-width: 120px;
  }
  
  
  .nested-card{
      box-shadow: 0 0 20px rgb(0 0 0 / 10%);
      margin: 0 20px 0 20px;
      margin-bottom: 30px;
  }
  
  .border-line-layout{
    position: relative;
    padding: 10px 20px 10px 20px;
    z-index: 0;
    margin-bottom: 10px !important;
    border: 1px solid rgba(0, 0, 0, 0.0509803922);
    border-radius: 10px;
  }
  .border-line-layout:after{
    display: none;
  }