<ion-card>
  <ion-card-header>
    <ion-card-title>Revenue statistics</ion-card-title>
    <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
  </ion-card-header>

  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6" size-sm="6" class="flex-center">
              
          <ion-thumbnail class="">    
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                x="0px" y="0px" viewBox="0 0 96 120" enable-background="new 0 0 96 96" xml:space="preserve">
                <path
                    d="M12,72H4c-1.104,0-2,0.9-2,2v20c0,1.1,0.896,2,2,2h8c1.104,0,2-0.9,2-2V74C14,72.9,13.104,72,12,72z" />
                <path
                    d="M52,36h-8c-1.104,0-2,0.896-2,2v56c0,1.1,0.896,2,2,2h8c1.1,0,2-0.9,2-2V38C54,36.896,53.1,36,52,36z" />
                <path
                    d="M72,0h-8c-1.1,0-2,0.896-2,2v92c0,1.1,0.9,2,2,2h8c1.1,0,2-0.9,2-2V2C74,0.896,73.1,0,72,0z" />
                <path
                    d="M92,36h-8c-1.1,0-2,0.896-2,2v56c0,1.1,0.9,2,2,2h8c1.1,0,2-0.9,2-2V38C94,36.896,93.1,36,92,36z" />
                <path
                    d="M32,28h-8c-1.104,0-2,0.896-2,2v64c0,1.1,0.896,2,2,2h8c1.104,0,2-0.9,2-2V30C34,28.896,33.104,28,32,28z" />
            </svg>
          </ion-thumbnail>
          <div class="st-detail">
            <h4>{{ tokenStorage.formatPrice(currentMonthTotalRevenue | number: '1.2-2') }}
                <span style="font-size: 16px;" [ngClass]="{ 'text-success': percentageDifference > 0,'text-danger': percentageDifference < 0 }">
                  <ion-icon *ngIf="percentageDifference > 0; else downIcon" name="caret-up"></ion-icon>
                  <ng-template #downIcon>
                      <ion-icon *ngIf="percentageDifference < 0; else equalIcon" name="caret-down"></ion-icon>
                  </ng-template>
                  <ng-template #equalIcon></ng-template>
                  {{ percentageDifference }}%
                </span>
            </h4>
            <ion-label>Current Month Total Revenue</ion-label>
          </div>
      </ion-col>

      <ion-col size="6" size-sm="6" class="flex-center">
          <ion-thumbnail class="">    
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                x="0px" y="0px" viewBox="0 0 96 120" enable-background="new 0 0 96 96" xml:space="preserve">
                <path
                    d="M12,72H4c-1.104,0-2,0.9-2,2v20c0,1.1,0.896,2,2,2h8c1.104,0,2-0.9,2-2V74C14,72.9,13.104,72,12,72z" />
                <path
                    d="M52,36h-8c-1.104,0-2,0.896-2,2v56c0,1.1,0.896,2,2,2h8c1.1,0,2-0.9,2-2V38C54,36.896,53.1,36,52,36z" />
                <path
                    d="M72,0h-8c-1.1,0-2,0.896-2,2v92c0,1.1,0.9,2,2,2h8c1.1,0,2-0.9,2-2V2C74,0.896,73.1,0,72,0z" />
                <path
                    d="M92,36h-8c-1.1,0-2,0.896-2,2v56c0,1.1,0.9,2,2,2h8c1.1,0,2-0.9,2-2V38C94,36.896,93.1,36,92,36z" />
                <path
                    d="M32,28h-8c-1.104,0-2,0.896-2,2v64c0,1.1,0.896,2,2,2h8c1.104,0,2-0.9,2-2V30C34,28.896,33.104,28,32,28z" />
            </svg>
          </ion-thumbnail>
          <div class="st-detail">
            <h4 class="states_data" class="padding">{{ tokenStorage.formatPrice(lastMonthTotalRevenue | number: '1.2-2') }}</h4>
            <ion-label>Last Month Total Revenue</ion-label>
          </div>
      </ion-col>

    </ion-row>
  </ion-grid>

    <div class="table-responsive">
      <table class="table text-center">
          <thead class="table-head-sticky">
              <tr>
                  <th style="color: #232323;width: 33.33%;">Name</th>
                  <th style="color: #232323;width: 33.33%;">Current Month's Total</th>
                  <th style="color: #232323;width: 33.33%;">Last Month's Total</th>
              </tr>
          </thead>
          <tbody>
              <ng-container *ngIf="combinedLeadsArray?.length > 0">
                  <tr *ngFor="let combinedLead of combinedLeadsArray">
                      <td>{{ combinedLead.full_name ? combinedLead.full_name : 'N/A' }}</td>
                      <td>
                          {{ tokenStorage.formatPrice(combinedLead.current_total_price | number: '1.2-2') }} 
                          <span style="font-size: 12px;" [ngClass]="{
                              'text-success': combinedLead.percentageDifference > 0,
                              'text-danger': combinedLead.percentageDifference < 0
                              }">
                             
                              <ion-icon *ngIf="combinedLead.percentageDifference > 0; else downIcon" name="caret-up"></ion-icon>
                              <ng-template #downIcon>
                                <ion-icon  name="caret-down"></ion-icon>
                              </ng-template>
                              <ng-template #equalIcon></ng-template>
                              {{ combinedLead.percentageDifference ? combinedLead.percentageDifference + '%' : '' }}
                          </span>
                      </td>
                      <td>{{ tokenStorage.formatPrice(combinedLead.last_total_price | number: '1.2-2') }}</td>
                  </tr>
              </ng-container>
              <ng-container *ngIf="combinedLeadsArray?.length == 0">
                  <tr>
                      <td colspan="3">Not found.</td>
                  </tr>
              </ng-container>
          </tbody>
      </table>
    </div>
  </ion-card-content>
</ion-card>
