<div class="section-loder flex-center" *ngIf="!leadContacts && ajaxLoader">
  <ion-spinner></ion-spinner>
</div>
<ng-container *ngIf="leadContacts">
  <!-- <ion-toolbar class="cust-toolbar">

  </ion-toolbar> -->


  <ion-card class="cust-card mt-0" color="light" *ngFor="let contact of leadContacts">

    <ion-card-content class="contact-box relative">
      <div class="verified-contact flex justify-end absolute top-3 right-3" *ngIf="contact.is_primary_contact">
        <img width="20" src="assets/images/verfied-icon.png"></div>
      <div class="flex justify-between gap-2">
        <div class="flex flex-col gap-2 max-w-[85%]">
          <div class="contact-items">
            <span class="person">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="24" height="24" fill="white" />
                <path
                  d="M11.8725 12.13C13.5652 12.13 14.9375 10.7578 14.9375 9.065C14.9375 7.37225 13.5652 6 11.8725 6C10.1797 6 8.8075 7.37225 8.8075 9.065C8.8075 10.7578 10.1797 12.13 11.8725 12.13Z"
                  fill="#2B2B2B" />
                <path
                  d="M6.0025 18C5.97958 17.2151 6.11439 16.4335 6.39895 15.7016C6.68351 14.9697 7.11204 14.3023 7.65915 13.739C8.20627 13.1757 8.86084 12.7279 9.58413 12.4221C10.3074 12.1163 11.0847 11.9587 11.87 11.9587C12.6553 11.9587 13.4326 12.1163 14.1559 12.4221C14.8791 12.7279 15.5337 13.1757 16.0808 13.739C16.628 14.3023 17.0565 14.9697 17.341 15.7016C17.6256 16.4335 17.7604 17.2151 17.7375 18"
                  fill="#2B2B2B" />
              </svg>
            </span> <span *ngIf="contact.first_name">{{ contact.first_name }}</span> <span *ngIf="contact.last_name"> {{
              contact.last_name }}</span>
          </div>
          <div class="contact-items" *ngIf="contact.email"><span class="mail">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="24" height="24" fill="white" />
                <path
                  d="M16.2405 7.00003H7.74479C7.2817 7.00101 6.83792 7.18565 6.51081 7.51345C6.18371 7.84124 6 8.28542 6 8.7485V15.1902C6 15.6533 6.18371 16.0975 6.51081 16.4253C6.83792 16.7531 7.2817 16.9377 7.74479 16.9387H16.2552C16.7183 16.9377 17.1621 16.7531 17.4892 16.4253C17.8163 16.0975 18 15.6533 18 15.1902V8.7485C18 8.51796 17.9544 8.28969 17.8659 8.07683C17.7773 7.86397 17.6475 7.67074 17.484 7.50824C17.3205 7.34573 17.1264 7.21716 16.913 7.12994C16.6996 7.04272 16.471 6.99858 16.2405 7.00003ZM16.3583 9.31907L13.3804 12.297C13.1962 12.4809 12.9775 12.6266 12.7368 12.7258C12.4961 12.825 12.2382 12.8757 11.9779 12.8749C11.7181 12.8758 11.4608 12.8252 11.2207 12.726C10.9806 12.6268 10.7625 12.481 10.5791 12.297L7.51657 9.2381C7.41383 9.13348 7.35626 8.99268 7.35626 8.84605C7.35626 8.69942 7.41383 8.55867 7.51657 8.45405C7.62056 8.35154 7.76072 8.29404 7.90675 8.29404C8.05277 8.29404 8.19294 8.35154 8.29693 8.45405L11.3595 11.5166C11.4409 11.5982 11.5376 11.6629 11.644 11.7071C11.7504 11.7512 11.8645 11.774 11.9798 11.774C12.095 11.774 12.2091 11.7512 12.3155 11.7071C12.4219 11.6629 12.5186 11.5982 12.6 11.5166L15.5779 8.53502C15.6819 8.43251 15.8221 8.37506 15.9681 8.37506C16.1141 8.37506 16.2543 8.43251 16.3583 8.53502C16.41 8.58635 16.4511 8.64743 16.4791 8.71471C16.5072 8.782 16.5216 8.85413 16.5216 8.92702C16.5216 8.99991 16.5072 9.0721 16.4791 9.13938C16.4511 9.20667 16.41 9.26774 16.3583 9.31907Z"
                  fill="#2B2B2B" />
              </svg>

            </span> <span class="email-text break-all">{{ contact.email }}</span></div>
          <div class="contact-items" *ngIf="contact.mobile_number"><span class="call">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="24" height="24" fill="white" />
                <path
                  d="M18.7029 15.6786C18.796 15.7709 18.8699 15.8808 18.9203 16.0019C18.9708 16.123 18.9967 16.2528 18.9967 16.384C18.9967 16.5151 18.9708 16.6449 18.9203 16.766C18.8699 16.8871 18.796 16.997 18.7029 17.0894L17.8503 17.942C17.2424 18.5489 16.4384 18.9199 15.582 18.9885C14.7257 19.057 13.873 18.8187 13.1762 18.3162C10.3283 16.2514 7.8236 13.7508 5.75412 10.9063L5.69278 10.8204C5.18628 10.126 4.94442 9.27354 5.01077 8.41658C5.07712 7.55963 5.44732 6.75455 6.05469 6.14637L6.90731 5.29374C6.99968 5.20064 7.10957 5.1268 7.23064 5.07637C7.35171 5.02595 7.48156 5 7.61271 5C7.74386 5 7.87371 5.02595 7.99478 5.07637C8.11585 5.1268 8.22575 5.20064 8.31812 5.29374L10.3546 7.32412C10.5397 7.51227 10.6434 7.76563 10.6434 8.02954C10.6434 8.29345 10.5397 8.54681 10.3546 8.73496L9.7412 9.34836C9.55317 9.53476 9.43973 9.78338 9.42223 10.0476C9.39624 10.3124 9.47068 10.5773 9.63079 10.7898C10.62 12.14 11.8094 13.3314 13.1578 14.323L13.2069 14.3598C13.4196 14.5185 13.6823 14.5954 13.9471 14.5762C14.2118 14.5571 14.4607 14.4433 14.6484 14.2555L15.2618 13.6421C15.4499 13.4571 15.7033 13.3533 15.9672 13.3533C16.2311 13.3533 16.4844 13.4571 16.6726 13.6421L18.7029 15.6786Z"
                  fill="#2B2B2B" />
              </svg>

            </span> {{ contact.mobile_number }}</div>
        </div>

        <div class="grid">
          <ion-button size="" color="" class="cta-space-element cta-edit-element" tooltip="Edit Contact" flow="left" (click)="open(true,contact.id)">
            <span class="pencil mt-1">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g filter="url(#filter0_d_1_264)">
              <rect x="4" width="24" height="24" rx="5" fill="#007BFF"/>
              </g>
              <path d="M16.4 8.19449L19.77 11.5345L14.26 17.0045L10 17.9845L10.9 13.6645L16.4 8.19449Z" fill="white"/>
              <path d="M21.74 9.54449L20.74 10.6145L17.37 7.27448L18.45 6.19452C18.5865 6.06943 18.7649 6 18.95 6C19.1351 6 19.3135 6.06943 19.45 6.19452L21.79 8.52448C21.8552 8.59397 21.9058 8.67588 21.9387 8.76532C21.9715 8.85476 21.9861 8.94992 21.9814 9.0451C21.9767 9.14029 21.953 9.23354 21.9115 9.31934C21.87 9.40513 21.8117 9.48172 21.74 9.54449Z" fill="white"/>
              <defs>
              <filter id="filter0_d_1_264" x="0" y="0" width="32" height="32" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
              <feOffset dy="4"/>
              <feGaussianBlur stdDeviation="2"/>
              <feComposite in2="hardAlpha" operator="out"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0.482353 0 0 0 0 1 0 0 0 0.25 0"/>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_264"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1_264" result="shape"/>
              </filter>
              </defs>
              </svg>
          </span>
          </ion-button>
          <ion-button size="" color="" class="cta-space-element cta-edit-element" tooltip="Delete Contact" flow="left" (click)="deleteContact(contact.id)"
            *ngIf="!contact.is_primary_contact">
            <span class="trash-sharp -mt-2">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_1_256)">
                <rect x="4" width="24" height="24" rx="5" fill="#DC3545"/>
                </g>
                <path d="M18.4864 6.65578L17.8603 6H14.1488L13.5227 6.65578H11V7.97587H21V6.65578H18.4864Z" fill="white"/>
                <path d="M11.7441 8.59758H20.2559V16.7566C20.2559 17.0863 20.1163 17.4026 19.8679 17.6358C19.6194 17.869 19.2824 18 18.931 18H13.069C12.7176 18 12.3806 17.869 12.1322 17.6358C11.8837 17.4026 11.7441 17.0863 11.7441 16.7566V8.59758Z" fill="white"/>
                <defs>
                <filter id="filter0_d_1_256" x="0" y="0" width="32" height="32" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0.862745 0 0 0 0 0.207843 0 0 0 0 0.270588 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_256"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1_256" result="shape"/>
                </filter>
                </defs>
                </svg>
            </span>
          </ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-button class="cta-space-element cta-edit-element !my-0 cust-btn" size="small" tooltip="Add Contact" flow="left" (click)="open(true)" slot="end" color="">
    <span class="add">
      <svg width="73" height="32" viewBox="0 0 73 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_d_168_74)">
        <rect x="4" width="65" height="24" rx="5" fill="#4B4DBC"/>
        </g>
        <path d="M19.928 14.296H16.436L15.836 16H14.408L17.396 7.648H18.98L21.968 16H20.528L19.928 14.296ZM19.544 13.18L18.188 9.304L16.82 13.18H19.544ZM22.8512 12.664C22.8512 12 22.9872 11.412 23.2592 10.9C23.5392 10.388 23.9152 9.992 24.3872 9.712C24.8672 9.424 25.3992 9.28 25.9832 9.28C26.4152 9.28 26.8392 9.376 27.2552 9.568C27.6792 9.752 28.0152 10 28.2632 10.312V7.12H29.6432V16H28.2632V15.004C28.0392 15.324 27.7272 15.588 27.3272 15.796C26.9352 16.004 26.4832 16.108 25.9712 16.108C25.3952 16.108 24.8672 15.964 24.3872 15.676C23.9152 15.38 23.5392 14.972 23.2592 14.452C22.9872 13.924 22.8512 13.328 22.8512 12.664ZM28.2632 12.688C28.2632 12.232 28.1672 11.836 27.9752 11.5C27.7912 11.164 27.5472 10.908 27.2432 10.732C26.9392 10.556 26.6112 10.468 26.2592 10.468C25.9072 10.468 25.5792 10.556 25.2752 10.732C24.9712 10.9 24.7232 11.152 24.5312 11.488C24.3472 11.816 24.2552 12.208 24.2552 12.664C24.2552 13.12 24.3472 13.52 24.5312 13.864C24.7232 14.208 24.9712 14.472 25.2752 14.656C25.5872 14.832 25.9152 14.92 26.2592 14.92C26.6112 14.92 26.9392 14.832 27.2432 14.656C27.5472 14.48 27.7912 14.224 27.9752 13.888C28.1672 13.544 28.2632 13.144 28.2632 12.688ZM31.024 12.664C31.024 12 31.16 11.412 31.432 10.9C31.712 10.388 32.088 9.992 32.56 9.712C33.04 9.424 33.572 9.28 34.156 9.28C34.588 9.28 35.012 9.376 35.428 9.568C35.852 9.752 36.188 10 36.436 10.312V7.12H37.816V16H36.436V15.004C36.212 15.324 35.9 15.588 35.5 15.796C35.108 16.004 34.656 16.108 34.144 16.108C33.568 16.108 33.04 15.964 32.56 15.676C32.088 15.38 31.712 14.972 31.432 14.452C31.16 13.924 31.024 13.328 31.024 12.664ZM36.436 12.688C36.436 12.232 36.34 11.836 36.148 11.5C35.964 11.164 35.72 10.908 35.416 10.732C35.112 10.556 34.784 10.468 34.432 10.468C34.08 10.468 33.752 10.556 33.448 10.732C33.144 10.9 32.896 11.152 32.704 11.488C32.52 11.816 32.428 12.208 32.428 12.664C32.428 13.12 32.52 13.52 32.704 13.864C32.896 14.208 33.144 14.472 33.448 14.656C33.76 14.832 34.088 14.92 34.432 14.92C34.784 14.92 35.112 14.832 35.416 14.656C35.72 14.48 35.964 14.224 36.148 13.888C36.34 13.544 36.436 13.144 36.436 12.688Z" fill="white"/>
        <path d="M49 12L59 12" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M54 7L54 17" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <defs>
        <filter id="filter0_d_168_74" x="0" y="0" width="73" height="32" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dy="4"/>
        <feGaussianBlur stdDeviation="2"/>
        <feComposite in2="hardAlpha" operator="out"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_168_74"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_168_74" result="shape"/>
        </filter>
        </defs>
        </svg>

    </span>
  </ion-button>

  <ion-modal #custModal>
    <ng-template>

      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel(false)"><ion-icon name="arrow-back"></ion-icon></ion-button>
          </ion-buttons>
          <ion-title class="ion-text-center">{{popupTitle}}</ion-title>
          <ion-buttons slot="end">
            <!-- <ion-button (click)="cancel(false)">Close</ion-button> -->
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form [formGroup]="leadContactEditForm" (ngSubmit)="updateALeadContactData(leadContactEditForm.value)">
          <ion-input formControlName="first_name" label="First Name" label-placement="floating" fill="outline"
            placeholder="First Name"></ion-input>
          <ion-input formControlName="last_name" label="Last Name" label-placement="floating" fill="outline"
            placeholder="Last Name"></ion-input>
          <ion-input formControlName="known_as" label="Known As" label-placement="floating" fill="outline"
            placeholder="Known As"></ion-input>
          <ion-input formControlName="email" label="Email" label-placement="floating" fill="outline" placeholder="Email"
            type="email"></ion-input>
          <ion-input formControlName="mobile_number" label="Mobile Number" label-placement="floating" fill="outline"
            placeholder="Mobile Number"></ion-input>

          <div class="radio-cover">
            <ion-label class="mb-2 inline-block">Gender</ion-label><br />
            <ion-radio-group formControlName="gender" class="radio-box">
              <ion-radio value="male">Male</ion-radio><br />
              <ion-radio value="female">Female</ion-radio><br />
              <ion-radio value="other">Other</ion-radio><br />
            </ion-radio-group>
          </div>

          <ion-input formControlName="job_title" label="Job Title" label-placement="floating" fill="outline"
            placeholder="Job Title"></ion-input>

          <ion-select formControlName="address_type" label="Address Type" label-placement="floating" fill="outline">
            <ion-select-option value="home">Home</ion-select-option>
            <ion-select-option value="office">Office</ion-select-option>
            <ion-select-option value="other">Other</ion-select-option>
          </ion-select>

          <ion-textarea formControlName="street_address" label="Street Address 1" label-placement="floating"
            fill="outline" placeholder="Street Address" rows="2"></ion-textarea>

          <ion-textarea formControlName="street_address2" label="Street Address 2" label-placement="floating"
            fill="outline" placeholder="Street Address 2" rows="2"></ion-textarea>

          <ion-input formControlName="city" label="City" label-placement="floating" fill="outline"
            placeholder="City"></ion-input>
          <ion-input formControlName="locality" label="Locality" label-placement="floating" fill="outline"
            placeholder="Locality"></ion-input>
          <ion-input formControlName="state" label="State" label-placement="floating" fill="outline"
            placeholder="State"></ion-input>
          <ion-input formControlName="country" label="Country" label-placement="floating" fill="outline"
            placeholder="Country"></ion-input>
          <ion-input formControlName="postcode" label="Postcode" label-placement="floating" fill="outline"
            placeholder="Postcode"></ion-input>

          <div class="radio-cover">
            <ion-label class="mb-2 inline-block">Make This Contact Primary</ion-label><br />
            <ion-radio-group formControlName="is_primary" class="radio-box">
              <ion-radio value="1">Yes</ion-radio><br />
              <ion-radio value="0">No</ion-radio><br />
            </ion-radio-group>
          </div>

          <ion-button expand="block" type="submit" color="{{ ajaxCall?'primary':'tertiary' }}"
            [disabled]="ajaxCall">Save <ion-spinner name="crescent" *ngIf="ajaxCall"></ion-spinner></ion-button>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ng-container>
