
.cust-card{
  @apply mb-5 shadow-none #{!important};

  .contact-box {
    @apply bg-white rounded-lg border border-gray-100  pt-8 #{!important};

    .contact-items{
      @apply flex gap-2 items-center text-sm font-normal font-['Poppins'] leading-tight;
    }
  }
}

::ng-deep .contact-box{
  @apply p-2 py-4 rounded-lg bg-[#f0f4f7] #{!important};
}
::ng-deep .cust-card{
  @apply mx-0;
}

::ng-deep .cust-btn{
  margin: auto !important;
  display: flex;
  width: fit-content;
}
::ng-deep .radio-box{
  @apply flex gap-2 text-[#aca1a1];
}
.radio-cover{
  @apply p-4 mb-5 border rounded-lg border-[#b3b3b3];
}
