<form [formGroup]="sendCampaignForm" (ngSubmit)="sendCampaign(sendCampaignForm.value)">
  <div class="flex justify-end">
    <ion-button tooltip="Send Campaign" flow="left" type="submit" size="small" class="my-5 text-right"><ion-icon name="send"></ion-icon></ion-button>
  </div>
  <div class="input-cover">
    <ion-select formControlName="contact" *ngIf="leadContacts.length > 0" label="Select Email*" label-placement="floating" fill="outline" (ionChange)="changeContact($event.detail.value)">
      <ion-select-option *ngFor="let member of leadContacts" [value]="member">
        <span *ngIf="member.first_name != 'null'">{{member.first_name}}</span>
        <span *ngIf="member.last_name != 'null'">{{member.last_name}}</span>
        <span *ngIf="member.email != 'null'">{{ ' ('+member.email+')' }}</span>
      </ion-select-option>
    </ion-select>
    <span class="text-danger" *ngIf="sendCampaignFormErr && sendCampaignForm.controls['contact']?.errors?.['required']">This field is required</span>
  </div>

  <div class="input-cover">
    <ion-select formControlName="campaign_id" *ngIf="campaigns.length > 0" label="Select Campaign*" label-placement="floating" fill="outline" (ionChange)="getCampaignPerview($event.detail.value)">
      <ion-select-option *ngFor="let campaign of campaigns" [value]="campaign.id">
        {{ campaign.title}}
      </ion-select-option>
    </ion-select>
    <span class="text-danger" *ngIf="sendCampaignFormErr && sendCampaignForm.controls['campaign_id']?.errors?.['required']">This field is required</span>
  </div>

  <div>
    <ion-input formControlName="bcc" label="Add Bcc" label-placement="floating" fill="outline" placeholder="Enter comma separated emails"></ion-input>
  </div>

  <div>
    <ion-label class="mb-2 inline-block">Schedule</ion-label>
    <ion-input type="date" formControlName="date" label="Date" label-placement="floating" fill="outline" placeholder="select date"></ion-input>
    <ion-input type="time" formControlName="time" label="Time" label-placement="floating" fill="outline" placeholder="select time"></ion-input>
  </div>

  <div class="campaign_preview">
    <ng-container *ngIf="campaignHtml">
      <h4 class="text-center text-[Poppins] font-semibold p-3 ">Preview</h4>
      <div class="p-3 rounded-lg border border-[#b3b3b3] overflow-x-scroll" [innerHtml]="campaignHtml"></div>
    </ng-container>
  </div>
</form>
