<form [formGroup]="addNoteForm" (ngSubmit)="addNote(addNoteForm.value)">
  <div class="flex justify-end">
    <ion-button tooltip="Add Note" flow="left" type="submit" size="" class="cta-space-element cta-edit-element !mt-0 !mb-3 cust-btn">
      <span class="add mx-auto">
        <svg width="73" height="32" viewBox="0 0 73 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g filter="url(#filter0_d_168_74)">
          <rect x="4" width="65" height="24" rx="5" fill="#4B4DBC"/>
          </g>
          <path d="M19.928 14.296H16.436L15.836 16H14.408L17.396 7.648H18.98L21.968 16H20.528L19.928 14.296ZM19.544 13.18L18.188 9.304L16.82 13.18H19.544ZM22.8512 12.664C22.8512 12 22.9872 11.412 23.2592 10.9C23.5392 10.388 23.9152 9.992 24.3872 9.712C24.8672 9.424 25.3992 9.28 25.9832 9.28C26.4152 9.28 26.8392 9.376 27.2552 9.568C27.6792 9.752 28.0152 10 28.2632 10.312V7.12H29.6432V16H28.2632V15.004C28.0392 15.324 27.7272 15.588 27.3272 15.796C26.9352 16.004 26.4832 16.108 25.9712 16.108C25.3952 16.108 24.8672 15.964 24.3872 15.676C23.9152 15.38 23.5392 14.972 23.2592 14.452C22.9872 13.924 22.8512 13.328 22.8512 12.664ZM28.2632 12.688C28.2632 12.232 28.1672 11.836 27.9752 11.5C27.7912 11.164 27.5472 10.908 27.2432 10.732C26.9392 10.556 26.6112 10.468 26.2592 10.468C25.9072 10.468 25.5792 10.556 25.2752 10.732C24.9712 10.9 24.7232 11.152 24.5312 11.488C24.3472 11.816 24.2552 12.208 24.2552 12.664C24.2552 13.12 24.3472 13.52 24.5312 13.864C24.7232 14.208 24.9712 14.472 25.2752 14.656C25.5872 14.832 25.9152 14.92 26.2592 14.92C26.6112 14.92 26.9392 14.832 27.2432 14.656C27.5472 14.48 27.7912 14.224 27.9752 13.888C28.1672 13.544 28.2632 13.144 28.2632 12.688ZM31.024 12.664C31.024 12 31.16 11.412 31.432 10.9C31.712 10.388 32.088 9.992 32.56 9.712C33.04 9.424 33.572 9.28 34.156 9.28C34.588 9.28 35.012 9.376 35.428 9.568C35.852 9.752 36.188 10 36.436 10.312V7.12H37.816V16H36.436V15.004C36.212 15.324 35.9 15.588 35.5 15.796C35.108 16.004 34.656 16.108 34.144 16.108C33.568 16.108 33.04 15.964 32.56 15.676C32.088 15.38 31.712 14.972 31.432 14.452C31.16 13.924 31.024 13.328 31.024 12.664ZM36.436 12.688C36.436 12.232 36.34 11.836 36.148 11.5C35.964 11.164 35.72 10.908 35.416 10.732C35.112 10.556 34.784 10.468 34.432 10.468C34.08 10.468 33.752 10.556 33.448 10.732C33.144 10.9 32.896 11.152 32.704 11.488C32.52 11.816 32.428 12.208 32.428 12.664C32.428 13.12 32.52 13.52 32.704 13.864C32.896 14.208 33.144 14.472 33.448 14.656C33.76 14.832 34.088 14.92 34.432 14.92C34.784 14.92 35.112 14.832 35.416 14.656C35.72 14.48 35.964 14.224 36.148 13.888C36.34 13.544 36.436 13.144 36.436 12.688Z" fill="white"/>
          <path d="M49 12L59 12" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M54 7L54 17" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <defs>
          <filter id="filter0_d_168_74" x="0" y="0" width="73" height="32" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
          <feOffset dy="4"/>
          <feGaussianBlur stdDeviation="2"/>
          <feComposite in2="hardAlpha" operator="out"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_168_74"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_168_74" result="shape"/>
          </filter>
          </defs>
          </svg>
        </span>
    </ion-button>
  </div>
  <div class="input-cover">
    <ion-textarea formControlName="notes_comment" label="Add Note Comment*" label-placement="floating" fill="outline" rows="6"></ion-textarea>
    <span class="text-danger" *ngIf="addNoteFormErr && addNoteForm.controls['notes_comment']?.errors?.['required']">This field is required</span>
  </div>
  
</form>

<div class="section-loder flex-center" *ngIf="lead_notes.length == 0 && ajaxLoader">
  <ion-spinner></ion-spinner>
</div>

<ng-container *ngIf="lead_notes.length > 0 && !ajaxLoader">
  <ul *ngFor="let item of lead_notes">
    <li class="mb-4 notes_wrap overflow-hidden">
      <ion-toolbar class="bg-white shadow-md p-2">
        <span slot="end">
          <div *ngIf="item.first_name || item.last_name">
            <span class="badge badge-success">Note</span> : by
            <span class="badge badge-danger">{{ (item.first_name)?item.first_name:'' }} {{ (item.last_name)?item.last_name:'' }}</span>
          </div>
          <span class="text-xs mt-2 me-2 font-medium">{{ helper.dateToFromNowDaily(item.updated_at) }}</span>
        </span>

      </ion-toolbar>
      <div class="text-sm p-3">
        {{ item.description }}
      </div>
    </li>
  </ul>
</ng-container>


<ng-container *ngIf="lead_notes.length == 0 && !ajaxLoader">
  <div class="text-center"><span> No notes yet</span> </div>
</ng-container>