/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";



@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
// .app-header-top {
//     padding: 10px 0;
// }
.app-header-top ion-item {
    padding: 10px 0;
}
ion-img.logo {
    width: 150px !important;
    margin: 0 auto !important;
}
.menu-button {
    margin-right: 8px;
    box-shadow: 0 0 8px 0 #63636329;
    border-radius: 8px;
}
.menu-button.close{
    padding: 4px;
}

.menu-button * {
    font-size: 30px;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus input:-webkit-autofill, textarea:-webkit-autofill, textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px white inset;/*your box-shadow*/
    -webkit-text-fill-color: #333;
}

ion-thumbnail svg * {
    stroke: #fff !important;
}

.bg-blue {
    background: linear-gradient(359deg,#4f52c2,#4044af);
}

.bg-pink {
    background: linear-gradient(359deg,#e65677,#ff76c3);
}

.bg-green {
    background: linear-gradient(359deg,#66da8a,#66da1a)
}

.bg-skyblue {
    background: linear-gradient(359deg,#46a9f8,#46a9d8)
}

.bg-yellow {
    background: linear-gradient(359deg,rgb(249,165,45),#f8ce14)
}

.bg-purple {
    background: linear-gradient(359deg,#8762c7,#7a4bcc)
}

.bg-orange {
    background: linear-gradient(359deg,rgb(255,127,80),rgb(255,107,70))
}

.bg-tilt {
    background: linear-gradient(359deg,rgb(64,224,208),rgb(64,214,190))
}

// input:-webkit-autofill {
//     -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
//     -webkit-text-fill-color: #333;
// }

// input:-webkit-autofill:focus,input:-webkit-autofill:hover {
//     -webkit-box-shadow: 0 0 0 50px white inset;/*your box-shadow*/
//     -webkit-text-fill-color: #333;
// }


.ngx-pagination {
    margin-left: 0;
    margin-bottom: 1rem;
    padding-inline-start: 0 !important;
}

.app-header-top {
    background: #fff;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 1px 0 rgba(0, 0, 0, 0.12) !important;
}

pagination-controls.paginator {
    width: 70%;
}


pagination-controls.paginator {
    width: 73%;
    margin-right: 5% !important;
}

ion-radio {
    --border-radius: 4px;
    --inner-border-radius: 4px;

    --color: #ddd;
    --color-checked: #6815ec;
  }

  ion-radio.ios::part(container) {
    width: 20px;
    height: 20px;

    border: 2px solid #ddd;
    border-radius: 4px;
  }

  .radio-checked.ios::part(container) {
    border-color: #6815ec;
  }

  ion-input.custom {
    --border-color: var(--ion-color-step-300, #b3b3b3);
    --border-radius: 4px !important;
    --padding-start: 16px !important;
    --padding-end: 16px !important;
  }


.page_wrapper{
    padding: 4px;
}

.accordion_wrap ion-row {
    background: var(--ion-color-light);
    color: var(--ion-color-light-contrast);
    padding: 10px 0px;
}
.accordion_wrap ion-accordion.md.accordion-collapsed.accordion-animated.hydrated, .list-header {
    margin-bottom: 4px;
}

.accrdion-element-container ion-accordion {
    width: calc(100% - 0px) !important;
}

.accrdion-element-item {

  @apply flex pb-2 items-center gap-3 text-sm font-normal font-['Poppins'] leading-tight;


    // padding-bottom: 10px;
    // display: flex;
    // align-items: center;
    // gap: 10px;
    // color: #675f5f;
}

.accrdion-element-item ion-icon {
    // color: #0074d9;
    margin: 4px 0;
}
.accrdion-element-container ion-accordion {
    border-radius: 8px;
    margin-bottom: 20px !important;
}

// .accrdion-element-container .accordion-expanded ion-item {
//     --ion-color-base: #b18ffe !important;
// }



.paginator-element ul.ngx-pagination {
    text-align: center;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.paginator-element ul.ngx-pagination .current{
    padding: 5px 10px;
    border-radius: 3px;
}

// .paginator-element ul.ngx-pagination li a{

// }

.ngx-pagination .current {
    background: #243a57 !important;
}

ion-input, ion-select, ion-textarea, .label-only {
    min-height: 50px !important;
    --border-radius: 10px !important;
    margin-bottom: 20px;
}

ion-checkbox{
    margin-bottom: 20px;
}

ion-radio , .radio-inner {
    --border-radius: 25px;
}



// ion-checkbox .ion-checkbox-icon {
//     --border-radius:8px !important;
// }


.page_wrapper {
    background: #ecf0f3;
    padding: 20px;
    min-height: 100%;
}

.ion-toolbar-element {
    --background: transparent;
}

.ion-toolbar-element ion-title{
    color: #243a57;
    font-weight: 600;
}

.ion-color-danger{
    --ion-color-base:#dc3545 !IMPORTANT;
}



.accrdion-element-container ion-icon.ion-accordion-toggle-icon {
    background: #fff;
    box-shadow: 0 2px 0px -4px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 4px 0 rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    padding: 3px;
    color: #243a57;
}

.filter-element-content ul li {
  @apply text-xs font-light font-['Poppins'] leading-none tracking-tight pb-[10px];
    // padding-bottom: 10px;
    // font-weight: normal;
    // font-size: 14px;
}

.filter-element-content ul li b {
  @apply font-semibold pe-2 text-[#243A57];

}

.accrdion-element-container .accordion-expanded {
    box-shadow: 0px 7px 10px #0000001c;
}

.paginator-element ul.ngx-pagination a {
    color: #243a57;
}

// .filter-element-content {
//     border-top: 1px solid #dbdbdb;
// }

.hidden-input {
    height: 0;
    min-height: unset !important;
    margin: 0 !important;
}

label.input-wrapper.sc-ion-input-md,.label-text.sc-ion-textarea-md {
    color: #aca1a1;
}

input {
    color: #000 !important;
}
.back-bun {
    background: #fff;
    border-radius: 6px;
}

// 16-05-24
[type='text'], [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select{
    border-color: transparent;
}

[type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus{

    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    /* --tw-ring-color: #1C64F2; */
    --tw-ring-offset-shadow: none;
    /* --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color); */
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    /* border-color: #1C64F2; */

}

.cust-checkbox-container {
    @apply px-4 pt-6 my-6 rounded-lg border border-[#b3b3b3] relative;

    ion-label,h5 {
        @apply absolute left-4 -top-3 pt-0 bg-white text-sm px-1 font-normal;
    }
}

.cta-edit-element {
  // --ion-color-base: transparent !IMPORTANT;
  --background: transparent !important;
  --box-shadow: none;
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
}

.cta-space-element{
  --padding-top: 0px;
  --padding-start: 0px;
  --padding-end: 0px;
  --padding-bottom: 0px;

}

.element-check-box ion-checkbox {
  width: 100%;
}

ion-modal ion-content.ion-padding .inner-scroll{
  padding: 20px !important;
}
.text-danger{
    color: red !important;
}
.input-cover{
    ion-input, ion-select, ion-textarea{
        @apply mb-0 #{!important};
    }
    @apply flex flex-col gap-2 mb-5;
}
.badge-warning{
    @apply bg-yellow-100 text-yellow-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300;
}
.badge-success{
    @apply bg-green-200 text-green-900 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300;
}
.badge-danger{
    @apply bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300;
}

.badge-default{
  @apply bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300;
}
.badge-dark{
  @apply bg-gray-100 text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300;
}
.badge-red{
  @apply bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300;
}
.badge-green{
  @apply bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300;
}
.badge-yellow{
  @apply bg-yellow-100 text-yellow-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300;
}
.badge-indigo{
  @apply bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300;
}
.badge-purple{
  @apply bg-purple-100 text-purple-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-purple-900 dark:text-purple-300;
}
.badge-pink{
  @apply bg-pink-100 text-pink-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-pink-900 dark:text-pink-300;
}

/* START TOOLTIP STYLES */
[tooltip] {
    position: relative; /* opinion 1 */
  }
  
  /* Applies to all tooltips */
  [tooltip]::before,
  [tooltip]::after {
    text-transform: none; /* opinion 2 */
    font-size: .9em; /* opinion 3 */
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
  }
  [tooltip]::before {
    content: '';
    border: 5px solid transparent; /* opinion 4 */
    z-index: 1001; /* absurdity 1 */
  }
  [tooltip]::after {
    content: attr(tooltip); /* magic! */
    
    /* most of the rest of this is opinion */
    font-family: Helvetica, sans-serif;
    text-align: center;
    
    /* 
      Let the content set the size of the tooltips 
      but this will also keep them from being obnoxious
      */
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: .3ch;
    box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
    background: #333;
    color: #fff;
    z-index: 1000; /* absurdity 2 */
  }
  
  /* Make the tooltips respond to hover */
  [tooltip]:hover::before,
  [tooltip]:hover::after {
    display: block;
  }
  
  /* don't show empty tooltips */
  [tooltip='']::before,
  [tooltip='']::after {
    display: none !important;
  }
  
  /* FLOW: UP */
  [tooltip]:not([flow])::before,
  [tooltip][flow^="up"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #333;
  }
  [tooltip]:not([flow])::after,
  [tooltip][flow^="up"]::after {
    bottom: calc(100% + 5px);
  }
  [tooltip]:not([flow])::before,
  [tooltip]:not([flow])::after,
  [tooltip][flow^="up"]::before,
  [tooltip][flow^="up"]::after {
    left: 50%;
    transform: translate(-50%, -.5em);
  }
  
  /* FLOW: DOWN */
  [tooltip][flow^="down"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #333;
  }
  [tooltip][flow^="down"]::after {
    top: calc(100% + 5px);
  }
  [tooltip][flow^="down"]::before,
  [tooltip][flow^="down"]::after {
    left: 50%;
    transform: translate(-50%, .5em);
  }
  
  /* FLOW: LEFT */
  [tooltip][flow^="left"]::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: #333;
    left: calc(0em - 5px);
    transform: translate(-.5em, -50%);
  }
  [tooltip][flow^="left"]::after {
    top: 50%;
    right: calc(100% + 5px);
    transform: translate(-.5em, -50%);
  }
  
  /* FLOW: RIGHT */
  [tooltip][flow^="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: #333;
    right: calc(0em - 5px);
    transform: translate(.5em, -50%);
  }
  [tooltip][flow^="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    transform: translate(.5em, -50%);
  }
  
  /* KEYFRAMES */
  @keyframes tooltips-vert {
    to {
      opacity: .9;
      transform: translate(-50%, 0);
    }
  }
  
  @keyframes tooltips-horz {
    to {
      opacity: .9;
      transform: translate(0, -50%);
    }
  }
  
  /* FX All The Things */ 
  [tooltip]:not([flow]):hover::before,
  [tooltip]:not([flow]):hover::after,
  [tooltip][flow^="up"]:hover::before,
  [tooltip][flow^="up"]:hover::after,
  [tooltip][flow^="down"]:hover::before,
  [tooltip][flow^="down"]:hover::after {
    animation: tooltips-vert 300ms ease-out forwards;
  }
  
  [tooltip][flow^="left"]:hover::before,
  [tooltip][flow^="left"]:hover::after,
  [tooltip][flow^="right"]:hover::before,
  [tooltip][flow^="right"]:hover::after {
    animation: tooltips-horz 300ms ease-out forwards;
  }

ion-item {
    border-radius: 8px;
    margin-bottom: 20px !important;
}

ion-list {
    background: none !important;
}


  