<ion-card>
  <ion-card-header>
    <ion-card-title>Revenue statistics</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <div class="table-responsive">
      <table class="table text-center">
          <thead class="table-head-sticky">
              <tr>
                  <th style="color: #232323;width: 33.33%;">Name</th>
                  <th style="color: #232323;width: 33.33%;">Assigned total lead</th>
                  <th style="color: #232323;width: 33.33%;">Converted to client</th>
                  <th style="color: #232323;width: 33.33%;">Conversion Ratio</th>
              </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="userLeadData?.length > 0">
              <tr *ngFor="let userLead of userLeadData">
                  <td>{{ userLead.full_name ? userLead.full_name : 'N/A' }}</td>
                  <td>{{ userLead.assigned_total_lead }}</td>
                  <td>{{ userLead.converted_to_client }}</td>
                  <td>{{ userLead.percentage_converted + '%' }}</td>
              </tr>
          </ng-container>
          <ng-container *ngIf="userLeadData?.length == 0">
              <tr>
                  <td colspan="3">Not found.</td>
              </tr>
          </ng-container>
          </tbody>
      </table>
    </div>
  </ion-card-content>
</ion-card>
