<app-header></app-header>

<ion-content [fullscreen]="true">

  <div class="lead-container p-5 grid grid-cols-2 gap-5">
    <div class="lead-items p-[15px] rounded-2xl bg-blue#4B4DBC-100 flex flex-col gap-5" routerLink="/leads/listing">
      <div class="top flex flex-col gap-1 justify-start">
        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g filter="url(#filter0_d_47_45)">
            <rect x="4" y="-3.05176e-05" width="42" height="42" rx="10" fill="#4B4DBC" />
          </g>
          <path d="M37.7041 15.5095L27.1678 26.0458V33H23.5857V26.0087L13 15.5095H37.7041Z" stroke="white"
            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          <path
            d="M23.9809 15.1513C25.4476 15.1513 26.6366 13.9623 26.6366 12.4956C26.6366 11.0289 25.4476 9.8399 23.9809 9.8399C22.5142 9.8399 21.3253 11.0289 21.3253 12.4956C21.3253 13.9623 22.5142 15.1513 23.9809 15.1513Z"
            stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          <path
            d="M30.7869 13.9655C31.626 13.9655 32.3062 13.2853 32.3062 12.4462C32.3062 11.6071 31.626 10.9269 30.7869 10.9269C29.9479 10.9269 29.2676 11.6071 29.2676 12.4462C29.2676 13.2853 29.9479 13.9655 30.7869 13.9655Z"
            stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          <path
            d="M18.4473 11.3716C19.1022 11.3716 19.6331 10.8407 19.6331 10.1858C19.6331 9.53087 19.1022 8.99997 18.4473 8.99997C17.7924 8.99997 17.2615 9.53087 17.2615 10.1858C17.2615 10.8407 17.7924 11.3716 18.4473 11.3716Z"
            stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          <defs>
            <filter id="filter0_d_47_45" x="0" y="-3.05176e-05" width="50" height="50" filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha" />
              <feOffset dy="4" />
              <feGaussianBlur stdDeviation="2" />
              <feComposite in2="hardAlpha" operator="out" />
              <feColorMatrix type="matrix" values="0 0 0 0 0.294118 0 0 0 0 0.301961 0 0 0 0 0.737255 0 0 0 0.25 0" />
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_47_45" />
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_47_45" result="shape" />
            </filter>
          </defs>
        </svg>
        <div class="text-zinc-800 text-base font-medium font-['Poppins'] leading-normal">All
          leads</div>
      </div>
      <div class="bottom flex items-center justify-between">
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle opacity="0.1" cx="15" cy="14.9999" r="15" fill="#4B4DBC" />
          <path d="M18 10.9999L21 14.5999L18 18.1999" stroke="#4B4DBC" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
          <path d="M21 14.5999H9" stroke="#4B4DBC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <div class="opacity-20 text-right text-blue#4B4DBC-900 text-6xl font-bold font-['Poppins'] leading-10">
          99+</div>
      </div>
    </div>

    <div class="lead-items p-[15px] rounded-2xl bg-green#68DA44-100 flex flex-col gap-5" routerLink="">
      <div class="top flex flex-col gap-1 justify-start">
        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g filter="url(#filter0_d_26_371)">
            <rect x="4" width="42" height="42" rx="10" fill="#68DA44" />
          </g>
          <path
            d="M26.148 9.00002H18.444C17.9923 8.99844 17.5447 9.08605 17.1269 9.25781C16.7092 9.42958 16.3294 9.68213 16.0094 10.001C15.6895 10.3198 15.4356 10.6987 15.2624 11.1159C15.0892 11.533 15 11.9803 15 12.432V29.568C15 30.0197 15.0892 30.467 15.2624 30.8841C15.4356 31.3013 15.6895 31.6802 16.0094 31.999C16.3294 32.3179 16.7092 32.5704 17.1269 32.7422C17.5447 32.914 17.9923 33.0016 18.444 33H30.948C31.3987 33 31.845 32.9112 32.2613 32.7387C32.6777 32.5663 33.0561 32.3135 33.3748 31.9948C33.6934 31.6761 33.9462 31.2977 34.1187 30.8813C34.2912 30.465 34.38 30.0187 34.38 29.568V17.232C34.3644 15.8808 33.8219 14.5891 32.868 13.632L29.796 10.56C29.3213 10.0716 28.7545 9.68224 28.1283 9.41446C27.5021 9.14668 26.829 9.00582 26.148 9.00002Z"
            stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          <path
            d="M28.284 10.2V12.876C28.284 13.4648 28.5179 14.0295 28.9342 14.4458C29.3505 14.8621 29.9152 15.096 30.504 15.096H33.18"
            stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M19.752 18.924H29.628" stroke="white" stroke-width="1.5" stroke-linecap="round"
            stroke-linejoin="round" />
          <path d="M19.752 22.764H29.628" stroke="white" stroke-width="1.5" stroke-linecap="round"
            stroke-linejoin="round" />
          <path d="M19.752 26.592H29.628" stroke="white" stroke-width="1.5" stroke-linecap="round"
            stroke-linejoin="round" />
          <defs>
            <filter id="filter0_d_26_371" x="0" y="0" width="50" height="50" filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha" />
              <feOffset dy="4" />
              <feGaussianBlur stdDeviation="2" />
              <feComposite in2="hardAlpha" operator="out" />
              <feColorMatrix type="matrix" values="0 0 0 0 0.407843 0 0 0 0 0.854902 0 0 0 0 0.266667 0 0 0 0.25 0" />
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_26_371" />
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_26_371" result="shape" />
            </filter>
          </defs>
        </svg>

        <div class="text-zinc-800 text-base font-medium font-['Poppins'] leading-normal">Forms</div>
      </div>
      <div class="bottom flex items-center justify-between">
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle opacity="0.2" cx="15" cy="15" r="15" fill="#68DA44" />
          <path d="M18 11L21 14.6L18 18.2" stroke="#68DA44" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
          <path d="M21 14.6H9" stroke="#68DA44" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>

        <div class="opacity-20 text-right text-green#68DA44-900 text-6xl font-bold font-['Poppins'] leading-10">
          18</div>
      </div>
    </div>

    <div class="lead-items p-[15px] rounded-2xl bg-pink#F5669E-100 flex flex-col gap-5" routerLink="">
      <div class="top flex flex-col gap-1 justify-start">
        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g filter="url(#filter0_d_26_390)">
            <rect x="4" width="42" height="42" rx="10" fill="#F5669E" />
          </g>
          <path d="M18.028 15.12H27.904" stroke="white" stroke-width="1.5" stroke-linecap="round"
            stroke-linejoin="round" />
          <path d="M18.028 18.948H23.104" stroke="white" stroke-width="1.5" stroke-linecap="round"
            stroke-linejoin="round" />
          <path d="M18.028 22.788H19.504" stroke="white" stroke-width="1.5" stroke-linecap="round"
            stroke-linejoin="round" />
          <path d="M23.776 22.788H31.972" stroke="white" stroke-width="1.5" stroke-linecap="round"
            stroke-linejoin="round" />
          <path d="M27.88 18.696V26.88" stroke="white" stroke-width="1.5" stroke-linecap="round"
            stroke-linejoin="round" />
          <path
            d="M30.172 9H19.828C16.057 9 13 12.057 13 15.828V26.172C13 29.943 16.057 33 19.828 33H30.172C33.943 33 37 29.943 37 26.172V15.828C37 12.057 33.943 9 30.172 9Z"
            stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          <defs>
            <filter id="filter0_d_26_390" x="0" y="0" width="50" height="50" filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha" />
              <feOffset dy="4" />
              <feGaussianBlur stdDeviation="2" />
              <feComposite in2="hardAlpha" operator="out" />
              <feColorMatrix type="matrix" values="0 0 0 0 0.960784 0 0 0 0 0.4 0 0 0 0 0.619608 0 0 0 0.25 0" />
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_26_390" />
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_26_390" result="shape" />
            </filter>
          </defs>
        </svg>


        <div class="text-zinc-800 text-base font-medium font-['Poppins'] leading-normal">Custom Fields</div>
      </div>
      <div class="bottom flex items-center justify-between">
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle opacity="0.2" cx="15" cy="15" r="15" fill="#F5669E" />
          <path d="M18 11L21 14.6L18 18.2" stroke="#F5669E" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
          <path d="M21 14.6H9" stroke="#F5669E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>


        <div class="opacity-20 text-right text-pink#F5669E-900 text-6xl font-bold font-['Poppins'] leading-10">
          22</div>
      </div>
    </div>

    <div class="lead-items p-[15px] rounded-2xl bg-purple#8257CB-100 flex flex-col gap-5" routerLink="">
      <div class="top flex flex-col gap-1 justify-start">
        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g filter="url(#filter0_d_26_400)">
            <rect x="4" width="42" height="42" rx="10" fill="#8257CB" />
          </g>
          <path
            d="M34.9966 25.6975V28.0771C34.9578 28.8897 34.5979 29.6537 33.9961 30.2011C33.3943 30.7485 32.5998 31.0347 31.7872 30.9966H18.2095C17.3968 31.0347 16.6023 30.7485 16.0005 30.2011C15.3987 29.6537 15.0389 28.8897 15 28.0771V25.6975"
            stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M24.9982 26.5274V11" stroke="white" stroke-width="1.5" stroke-linecap="round"
            stroke-linejoin="round" />
          <path d="M31.2074 21.0383L24.9984 26.5274L18.7895 21.0383" stroke="white" stroke-width="1.5"
            stroke-linecap="round" stroke-linejoin="round" />
          <defs>
            <filter id="filter0_d_26_400" x="0" y="0" width="50" height="50" filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha" />
              <feOffset dy="4" />
              <feGaussianBlur stdDeviation="2" />
              <feComposite in2="hardAlpha" operator="out" />
              <feColorMatrix type="matrix" values="0 0 0 0 0.509804 0 0 0 0 0.341176 0 0 0 0 0.796078 0 0 0 0.25 0" />
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_26_400" />
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_26_400" result="shape" />
            </filter>
          </defs>
        </svg>



        <div class="text-zinc-800 text-base font-medium font-['Poppins'] leading-normal">Import Leads</div>
      </div>
      <div class="bottom flex items-center justify-between">
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle opacity="0.2" cx="15" cy="15" r="15" fill="#8257CB" />
          <path d="M18 11L21 14.6L18 18.2" stroke="#8257CB" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
          <path d="M21 14.6H9" stroke="#8257CB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>



        <div class="opacity-20 text-right text-purple#8257CB-900 text-6xl font-bold font-['Poppins'] leading-10">
          10</div>
      </div>
    </div>

    <div class="lead-items p-[15px] rounded-2xl bg-blue#4B4DBC-100 flex flex-col gap-5" routerLink="">
      <div class="top flex flex-col gap-1 justify-start">
        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g filter="url(#filter0_d_26_416)">
            <rect x="4" width="42" height="42" rx="10" fill="#4B4DBC" />
          </g>
          <path
            d="M30.172 9H19.828C16.057 9 13 12.057 13 15.828V26.172C13 29.943 16.057 33 19.828 33H30.172C33.943 33 37 29.943 37 26.172V15.828C37 12.057 33.943 9 30.172 9Z"
            stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M18.112 21.168L20.308 23.352L25.024 18.648" stroke="white" stroke-width="1.5" stroke-linecap="round"
            stroke-linejoin="round" />
          <path d="M21.256 14.856H31.888" stroke="white" stroke-width="1.5" stroke-linecap="round"
            stroke-linejoin="round" />
          <path d="M28.456 21H31.888" stroke="white" stroke-width="1.5" stroke-linecap="round"
            stroke-linejoin="round" />
          <path d="M21.256 27.144H31.888" stroke="white" stroke-width="1.5" stroke-linecap="round"
            stroke-linejoin="round" />
          <defs>
            <filter id="filter0_d_26_416" x="0" y="0" width="50" height="50" filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha" />
              <feOffset dy="4" />
              <feGaussianBlur stdDeviation="2" />
              <feComposite in2="hardAlpha" operator="out" />
              <feColorMatrix type="matrix" values="0 0 0 0 0.294118 0 0 0 0 0.301961 0 0 0 0 0.737255 0 0 0 0.25 0" />
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_26_416" />
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_26_416" result="shape" />
            </filter>
          </defs>
        </svg>




        <div class="text-zinc-800 text-base font-medium font-['Poppins'] leading-normal">Tasks</div>
      </div>
      <div class="bottom flex items-center justify-between">
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle opacity="0.2" cx="15" cy="15" r="15" fill="#4B4DBC" />
          <path d="M18 11L21 14.6L18 18.2" stroke="#4B4DBC" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
          <path d="M21 14.6H9" stroke="#4B4DBC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>




        <div class="opacity-20 text-right text-blue#4B4DBC-900 text-6xl font-bold font-['Poppins'] leading-10">
          2</div>
      </div>
    </div>

    <div class="lead-items p-[15px] rounded-2xl bg-yellow#FBB722-100 flex flex-col gap-5" routerLink="">
      <div class="top flex flex-col gap-1 justify-start">
        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g filter="url(#filter0_d_26_426)">
            <rect x="4" width="42" height="42" rx="10" fill="#FBB722" />
          </g>
          <path
            d="M33.304 11.352H16.696C14.6548 11.352 13 13.0067 13 15.048V29.304C13 31.3452 14.6548 33 16.696 33H33.304C35.3453 33 37 31.3452 37 29.304V15.048C37 13.0067 35.3453 11.352 33.304 11.352Z"
            stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M19 9V13.008" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M31 9V13.008" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M19.48 23.664L22.984 27.168L30.52 19.632" stroke="white" stroke-width="1.5" stroke-linecap="round"
            stroke-linejoin="round" />
          <defs>
            <filter id="filter0_d_26_426" x="0" y="0" width="50" height="50" filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha" />
              <feOffset dy="4" />
              <feGaussianBlur stdDeviation="2" />
              <feComposite in2="hardAlpha" operator="out" />
              <feColorMatrix type="matrix" values="0 0 0 0 0.984314 0 0 0 0 0.717647 0 0 0 0 0.133333 0 0 0 0.25 0" />
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_26_426" />
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_26_426" result="shape" />
            </filter>
          </defs>
        </svg>
        <div class="text-zinc-800 text-base font-medium font-['Poppins'] leading-normal">Appointments</div>
      </div>
      <div class="bottom flex items-center justify-between">
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle opacity="0.2" cx="15" cy="15" r="15" fill="#FBB722" />
          <path d="M18 11L21 14.6L18 18.2" stroke="#FBB722" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
          <path d="M21 14.6H9" stroke="#FBB722" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <div class="opacity-20 text-right text-yellow#FBB722-900 text-6xl font-bold font-['Poppins'] leading-10">
          76</div>
      </div>
    </div>
  </div>
</ion-content>
